Repository valkey-io/valkey-glide, pull requests merged in 2024-04, with the labels that each got.

#1163 Java: Added Zscore command. (Sorted Set Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1160 Java: add invokeScript to run lua scripts
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/Script.java
  java/client/src/main/java/glide/api/models/commands/ScriptOptions.java
  java/client/src/main/java/glide/ffi/resolvers/ScriptResolver.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/src/lib.rs
  node/src/BaseClient.ts
  python/python/glide/async_commands/core.py
Labels: java

#1127 Go: Implement Rust logic for connect
  go/.gitignore
  go/Cargo.toml
  go/Makefile
  go/cbindgen.toml
  go/src/lib.rs
Labels: go

#1165 Java: Added Zpopmin command. (Sorted Set Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1203 Python: Fix typing
  CHANGELOG.md
  python/python/glide/redis_client.py
Labels: python

#1202 C#: Split debug and release Rust compilation.
  csharp/lib/glide.csproj
Labels: C#

#1199 Align main with changes needed for hybrid publish
  CHANGELOG.md
  node/DEVELOPER.md
  node/fixup_pj_files_for_build_type
  node/npm/glide/index.ts
  node/npm/glide/package.json
  node/npm/glide/tsconfig-cjs.json
  node/npm/glide/tsconfig-mjs.json
  node/npm/glide/tsconfig.json
  node/package.json
  node/tsconfig-cjs.json
  node/tsconfig-mjs.json
  node/tsconfig.json
Labels: node, CI

#1185 Javadoc fixes.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementCommands.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/GenericClusterCommands.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/commands/StringCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/ClusterValue.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/main/java/glide/api/models/commands/SetOptions.java
Labels: java, docs

#1166 Java: Add Zrange and ZrangeWithScores command.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/RangeOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1179 Java: Add Zrank and Zrankwithscores command. (Sorted Set Commands) (#154)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1211 Java: Add hsetnx command. (Hash Command Group) (#162)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1228 Python: adds HKEYS command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1221 Java: Add `PFADD` command.
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HyperLogLogBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1217 Java: Update timeout handling in IT.
  java/integTest/src/test/java/glide/ConnectionTests.java
  java/integTest/src/test/java/glide/ErrorHandlingTests.java
  java/integTest/src/test/java/glide/SharedClientTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterClientTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/StandaloneClientTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1209 Java: Add XADD command (Stream commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/StreamAddOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1225 Java: Add `RPUSHX` and `LPUSHX` commands.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1218 Java: Add `BLPOP` and `BRPOP` commands.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1222 Java: Add `PFCOUNT` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HyperLogLogBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1224 Java: Add `PFMERGE` command.
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HyperLogLogBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1220 Java: Add `sismember` command. (Set Commands Group)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1216 Fix python flakey test
  python/python/tests/test_async_client.py
Labels: python

#1232 Fix temporarily misalignment with new version of Cargo
  .github/workflows/ort.yml
Labels: CI

#1227 Add missing examples for Python and Node
  node/src/BaseClient.ts
  node/src/RedisClient.ts
  node/src/RedisClusterClient.ts
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
Labels: python, node, docs

#1208 C#: Allow passing variable number of args to command.
  csharp/lib/AsyncClient.cs
  csharp/lib/Message.cs
  csharp/lib/MessageContainer.cs
  csharp/lib/src/lib.rs
  csharp/tests/Integration/GetAndSet.cs
  glide-core/src/lib.rs
  glide-core/src/request_type.rs
  glide-core/src/socket_listener.rs
Labels: C#

#1230 Python: Added STRLEN command in python
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1151 Python: adds ZREMRANGEBYSCORE command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1117 Node: added spop and spopCount commands.
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1252 Python: Added RENAME command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1115 Node: added zrange and zrangeWithScores commands.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  python/python/glide/async_commands/core.py
Labels: node

#1257 Java: Use LinkedHashMap instead of HashMap for Java wrapper Map values returned from Redis
  java/src/lib.rs
Labels: java

#1250 Node: Fix build section for node DEVELOPER.md
  node/DEVELOPER.md
Labels: node, docs

#1219 Java: Add `lindex` command. (List Command Group)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1213 Clean up all warnings in Java client test
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/connection/ConnectionWithGlideMockTests.java
  java/client/src/test/java/glide/connectors/resources/ThreadPoolResourceAllocatorTest.java
  java/client/src/test/java/glide/ffi/FfiTest.java
  java/client/src/test/java/glide/managers/ConnectionManagerTest.java
  java/client/src/test/java/glide/utils/RustCoreMock.java
  java/integTest/src/test/java/glide/SharedClientTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java

#1242 Java: Refactor transaction UT
  java/client/src/test/java/glide/api/models/TransactionTests.java
Labels: java

#1246 Java/Node: Update docs for `xadd` and `xtrim`
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/StreamAddOptions.java
  node/src/BaseClient.ts
  node/src/Transaction.ts
Labels: node, java, docs

#1256 Java: misc fixes
  java/client/src/main/java/glide/api/commands/ConnectionManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
Labels: java

#1236 Java: Add `LINSERT` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/LInsertOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1237 Java: Modularize wrapper
  .github/workflows/java.yml
  java/client/build.gradle
  java/client/src/main/java/module-info.java
Labels: java

#1243 Java: Add `Zdiff` command. (Sorted Set Commands)
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1244 Java: Add `Zdiffstore` command. (Sorted Set Group)
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1239 Python: add RPUSHX and LPUSHX commands
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1245 Java: Add `Zcount` command. (Sorted Set Group)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/RangeOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1263 Java: Add `Zremrangebyrank` command. (Sorted Set Group) (#189)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1264 Java: Add `Zremrangebylex` command. (Sorted Set Group) (#195)
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/RangeOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1272 Java: Fix protoc version check.
  java/client/build.gradle
Labels: java

#1136 C#: Strict rules
  .github/workflows/csharp.yml
  benchmarks/csharp/Program.cs
  benchmarks/csharp/csharp_benchmark.csproj
  csharp/.editorconfig
  csharp/lib/AsyncClient.cs
  csharp/lib/Logger.cs
  csharp/lib/Message.cs
  csharp/lib/MessageContainer.cs
  csharp/lib/Properties/AssemblyInfo.cs
  csharp/lib/glide.csproj
  csharp/tests/Integration/GetAndSet.cs
  csharp/tests/Integration/IntegrationTestBase.cs
  csharp/tests/Usings.cs
  csharp/tests/tests.csproj
Labels: C#

#1269 Java: Add `Zremrangebyscore` command. (Sorted Set Group)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/RangeOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1271 Java: Add `Zlexcount` command. (Sorted Set Group) (#212)
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/RangeOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1273 Java: Bump `spotless` version.
  java/build.gradle
Labels: java, dependency

#1261 Python: Added SPOP command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1275 Java: Bump `junit` version
  java/build.gradle
  java/client/build.gradle
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/SharedClientTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java, dependency

#1278 Java: Add `SINTERSTORE` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1152 Python: adds APPEND command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1276 Java: Add command `Zrangestore`. (Sorted Set Group) (#202)
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/RangeOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1285 Add `GETRANGE` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1249 Java: Add `SMOVE` command.
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1288 Java: Add `SDIFFSTORE` command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1248 Java: Add `SINTER` command.
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1277 Java: Add `SUNIONSTORE` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1296 Add `SMISMEMBER` command.
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1297 Java: Add `LASTSAVE` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/SetOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1274 Java: Bump `lombok` version.
  java/build.gradle
  java/client/build.gradle
  java/integTest/build.gradle
Labels: java, dependency

#1259 Python: adds GEOADD command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1281 Python: adds GEOHASH command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1305 Python: add ZLEXCOUNT command (#230)
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1306 Python: add ZREMRANGEBYLEX command (#228)
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1304 Python: add LINSERT command (#227)
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1313 Java: Add OBJECT ENCODING command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1316 Core: Update data convertion for `SMISMEMBER`
  glide-core/src/client/value_conversion.rs
Labels: Rust core

#1282 C#: changing utest framework to xunit
  csharp/tests/Integration/GetAndSet.cs
  csharp/tests/Integration/IntegrationTestBase.cs
  csharp/tests/Usings.cs
  csharp/tests/tests.csproj
Labels: C#, CI

#1330 Go: Implement benchmarking
  .github/workflows/go.yml
  benchmarks/install_and_test.sh
  benchmarks/utilities/csv_exporter.py
  go/.gitignore
  go/DEVELOPER.md
  go/Makefile
  go/api/base_client.go
  go/api/command_options.go
  go/api/commands.go
  go/api/config.go
  go/api/errors.go
  go/api/response_handlers.go
  go/api/standalone_client.go
  go/benchmarks/benchmarking.go
  go/benchmarks/glide_benchmark_client.go
  go/benchmarks/go.mod
  go/benchmarks/go.sum
  go/benchmarks/go_redis_benchmark_client.go
  go/benchmarks/main.go
  go/examples/main.go
  go/integTest/glide_test_suite_test.go
  go/integTest/shared_commands_test.go
  go/integTest/standalone_commands_test.go
  go/src/lib.rs
Labels: go, benchmark

#1325 C#: Fix the build.
  csharp/tests/Integration/GetAndSet.cs
Labels: C#, CI

#1329 Java: Implement OBJECT REFCOUNT command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1324 Java: Fix IT for `CONFIG REWRITE`.
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1314 Node: Add `.prettierignore`.
  node/.prettierignore
Labels: node, tools

#1326 Java: `LOLWUT`
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1312 Java: Add `SDIFF` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1322 remove temporary fix as it not nedded anymore
  .github/workflows/ort.yml
Labels: CI

#1302 Core test utilities: moved client creation to a separate function
  glide-core/tests/test_client.rs
  glide-core/tests/utilities/cluster.rs
  glide-core/tests/utilities/mod.rs
Labels: Rust core, tools

#1286 Update javadocs for `BRPOP` and `BLPOP`
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
Labels: java

#1260 Python: adds GEODIST command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1301 Python: adds GEOPOS command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1339 Go: Fix bug with -clients=all setting
  go/benchmarks/benchmarking.go
Labels: go, benchmark

#1255 Java: Add `BZPOPMAX` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1328 Java: Implement OBJECT IDLETIME command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1315 Python: Add `PFADD` command.
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1317 Node: Add `PFADD` command.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1327 Java: Add OBJECT FREQ command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1352 Go: update protobuf version to address dependabot alert
  go/Makefile
  go/benchmarks/go.mod
  go/benchmarks/go.sum
  go/go.mod
  go/go.sum
Labels: go, dependency

#1360 Node: Update examples in docs.
  node/src/BaseClient.ts
  node/src/Transaction.ts
Labels: node, docs

#1354 Java: Add command `Touch`. (Generic Command Group)
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1340 Java: Add `HKEYS` command.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1332 Java: Add `RENAMENX` command.
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1337 Java: Add `Zrevrank` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1336 Add WATCH returns null standalone test
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1355 Java: Refactor Stream options into a separate package
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/StreamOptions.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamAddOptions.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamTrimOptions.java
  java/client/src/main/java/module-info.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1294 Java: Add `Zinterstore` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/WeightAggregateOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1351 Go: update protobuf version
  go/Makefile
  go/go.mod
  go/go.sum
Labels: go, dependency
