Repository valkey-io/valkey-glide, pull requests merged in 2024-06, with the labels that each got.

#1508 HOT-FIX: CRITICAL - fixed set command optional arguments and added tests to set command
  node/src/Commands.ts
  node/tests/RedisClientInternals.test.ts
  node/tests/SharedTests.ts
Labels: bug, node

#1488 Use bytes instead of str
  glide-core/Cargo.toml
  glide-core/benches/rotating_buffer_benchmark.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/rotating_buffer.rs
  glide-core/src/socket_listener.rs
  glide-core/tests/test_client.rs
  glide-core/tests/test_socket_listener.rs
  glide-core/tests/test_standalone_client.rs
  java/README.md
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/test/java/glide/api/models/StandaloneTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/client/src/test/java/glide/managers/CommandManagerTest.java
  node/DEVELOPER.md
  node/rust-client/Cargo.toml
  node/rust-client/src/lib.rs
  node/src/Commands.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClientInternals.test.ts
  node/tests/TestUtilities.ts
  python/DEVELOPER.md
  python/python/glide/redis_client.py
  python/python/tests/test_proto_coded.py
  python/src/lib.rs
Labels: Rust core, protobuf

#1514 Python: added GETDEL command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1478 Python: added zinter and zunion commands.
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/sorted_set.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1487 Standalone Client: Raise an error if more than one primary node is found
  glide-core/src/client/reconnecting_connection.rs
  glide-core/src/client/standalone_client.rs
  glide-core/tests/test_standalone_client.rs
Labels: Rust core

#1443 Don't log sensitive user info in GLIDE code
  glide-core/src/client/mod.rs
  glide-core/src/client/value_conversion.rs
Labels: Rust core

#1484 Java: Update implementation for `FUNCTION LOAD`.
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1522 fixed testing
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
Labels: node, testing

#1510 Java: Add `BITFIELD` and `BITFIELD_RO` commands
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/BitmapBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/bitmap/BitFieldOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1516 Java: Adding command `SInterCard`
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1519 Java: add MOVE command
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/StandaloneTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1452 Java: Add `FUNCTION LIST` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/function/FunctionListOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1439 Python: Adds Sort command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/__init__.py
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/command_args.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/sorted_set.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1529 Java: add SPOP command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1523 Java: Add `FUNCTION DELETE` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1540 Java: add DBSIZE command
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1518 Node: added OBJECT ENCODING command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1533 Java: Add `FUNCTION FLUSH` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/FlushMode.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1532 Java: Adding command `COPY`
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/StandaloneTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1513 Node: Add ZINTERSTORE command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1530 Improved bitmap javadocs
  java/client/src/main/java/glide/api/commands/BitmapBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
Labels: java, docs

#1549 Node: add SUNIONSTORE command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1545 Node: added PFCOUNT command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1524 Java: Add XREAD command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamReadOptions.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1541 Java: Update `ZUNION` and `ZINTER` and tests.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1544 Node: add LINSERT command
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1534 Java: add `xrevrange` command
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1543 Java: Add `FCALL` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsBaseCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1551 Java: Adding command MSetNX
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1555 Node: add XLEN command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1553 Node: add ZINTERCARD command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1547 Python: added LMPOP and BLMPOP commands.
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
  python/python/tests/utils/utils.py
Labels: python

#1559 Change object command names to follow camel-case
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1567 Node: add OBJECT IDLETIME command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
Labels: node

#1558 Java: Adding command `LCS` (No IDX option)
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1560 Java: Add `FUNCTION KILL` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1568 Node: add OBJECT REFCOUNT command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
Labels: node

#1561 Java: Add `FUNCTION STATS` command.
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1570 Java: add LPOS
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/LPosOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1566 Python: adds MOVE command
  CHANGELOG.md
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1565 Python: adds MSETNX command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1482 Python: adds GEOSEARCH command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/__init__.py
  python/python/glide/async_commands/command_args.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/sorted_set.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1563 Node binding: keep strings as binary data
  node/rust-client/src/lib.rs
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1575 Python: add GETBIT command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1592 Python: add BITCOUNT command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/bitmap.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1539 Java: Add `WATCH` and `UNWATCH` command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/TransactionsBaseCommands.java
  java/client/src/main/java/glide/api/commands/TransactionsClusterCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1557 Java: Add the `XGROUP CREATE` and `XGROUP DESTROY` commands
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamGroupOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1588 Node: convert `VerbatimString` into `Uint8Array`
  node/rust-client/src/lib.rs
Labels: node

#1564 Python: adds HSTRLEN command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1581 Python: adds GEOSEARCHSTORE command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/sorted_set.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1580 Python: fix OBJECT IDLETIME flaky test
  python/python/tests/test_async_client.py
Labels: python

#1582 Python: adds TOUCH command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1583 Python: adds SUNION command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1584 Python: adds LSET command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1585 Python: add GETRANGE command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1586 Python: adds ZINCRBY command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1587 Python: Added EXPIRETIME, PEXPIRETIME commands
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1598 Java: reverted byte[] overloading
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/ResponseFlags.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/ffi/resolvers/RedisValueResolver.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/src/lib.rs
Labels: java

#1578 Python: Add command SRandMember
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1594 WIP Create initial workflow for publishing to Maven Central
  .github/workflows/gradle-cd.yml
  java/client/build.gradle
Labels: java, CI

#1596 Python: add BITOP command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/bitmap.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1597 Separated unwatch to have different docs for standalone
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/TransactionsBaseCommands.java
  java/client/src/main/java/glide/api/commands/TransactionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/TransactionsCommands.java
Labels: java

#1593 Java: Add `FLUSHDB` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/FlushMode.java
  java/client/src/main/java/glide/api/models/configuration/RequestRoutingConfiguration.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1604 Python: add BITPOS command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1579 Python: Add Command FlushAll
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/glide/routes.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1605 Python: add missing classes to __all__ section in __init__.py
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
Labels: python

#1610 Java: Add `SUNION` command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1608 Java: Fix routing for `FLUSHALL` and `FLUSHDB`.
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
Labels: java

#1615 Python: add BITFIELD and BITFIELD_RO commands
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/bitmap.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1614 Python: add ZREVRANK command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1613 Java: Add the `XREADGROUP` command
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamReadGroupOptions.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamReadOptions.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1606 Add overload methods using`GlideString`
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/ResponseFlags.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/models/GlideString.java
  java/client/src/main/java/glide/api/models/commands/SetOptions.java
  java/client/src/main/java/glide/ffi/resolvers/RedisValueResolver.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/src/lib.rs
Labels: java

#1619 Python: add XDEL command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1609 Java: add `GETEX`
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/GetExOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1620 Java: Add `XACK` stream command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1621 Java: Add `DUMP` and `RESTORE` commands
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/commands/RestoreOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java

#1624 Python: add XRANGE command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/stream.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1626 Python: add COPY Command
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1611 Java: Add `SORT` and `SORT_RO` commands
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/GenericClusterCommands.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/main/java/glide/api/models/commands/SortBaseOptions.java
  java/client/src/main/java/glide/api/models/commands/SortClusterOptions.java
  java/client/src/main/java/glide/api/models/commands/SortOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/client/src/test/java/glide/api/models/StandaloneTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1625 Python: add XREVRANGE command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1622 Java: Add `FUNCTION DUMP` and `FUNCTION RESTORE`
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/main/java/glide/api/models/ClusterValue.java
  java/client/src/main/java/glide/api/models/commands/function/FunctionRestorePolicy.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/ClusterValueTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1644 Python: add XREAD command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/stream.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1636 support geopos, zmscore, persist, rename and renamex with GlideString
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/GeospatialIndicesBaseCommands.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java

#1650 Pubsub fixups: 1. Logging instead of exceptions on the pending futures due to disconnect notifications. 2. Typos fixes
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/config.py
  python/python/glide/redis_client.py
Labels: python

#1646 Python: add XGROUP CREATE and XGROUP DESTROY commands
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/stream.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1658 Python: add XGROUP CREATECONSUMER and XGROUP DELCONSUMER commands
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1657 Python: added LOLWUT command
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1656 Java: Fix flaky IT.
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java, testing

#1642 support objectEncoding, objectFreq, objectIdletime and objectRefcount…
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java

#1635 support geodist, getbit, setbit and xack with GlideString
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/BitmapBaseCommands.java
  java/client/src/main/java/glide/api/commands/GeospatialIndicesBaseCommands.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java

#1638 support move, ltrim, sadd, srem, scard and smove with GlideString
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1603 Added Java ORT workflow
  .github/workflows/ort.yml
  java/THIRD_PARTY_LICENSES_JAVA
  utils/get_licenses_from_ort.py
Labels: java, CI

#1660 Java: Add `LCS` command (with IDX option)
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1679 Python: add XREADGROUP command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/stream.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1661 Java: Add XPENDING command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamAddOptions.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamPendingOptions.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamRange.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamReadOptions.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamTrimOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1681 Python: add XACK command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1680 Python: add FLUSHDB command
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1641 support hsetnx, watch, type and unlink with GlideString
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/commands/TransactionsBaseCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1651 support lset, hexists, sismember and copy with GlideString
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java

#1643 Python: adds PUB/SUB testing
  python/python/glide/__init__.py
  python/python/glide/config.py
  python/python/glide/exceptions.py
  python/python/glide/redis_client.py
  python/python/tests/test_async_client.py
  python/python/tests/test_pubsub.py
Labels: python, testing

#1687 Support of GlideString interface for sinter, sinterstore and sintercard commands
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1668 Support of GlideString interface for echo command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1665 Python: fix init file
  python/python/glide/__init__.py
  python/python/glide/async_commands/stream.py
Labels: python

#1670 Node: Rename RedisClient, RedisClusterClient to GlideClient, GlideClusterClient
  CHANGELOG.md
  benchmarks/node/node_benchmark.ts
  examples/node/index.ts
  node/README.md
  node/index.ts
  node/npm/glide/index.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClientInternals.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node, breaking

#1669 Python: Rename RedisClient, RedisClusterClient to GlideClient, GlideClusterClient
  CHANGELOG.md
  benchmarks/python/python_benchmark.py
  examples/python/client_example.py
  python/README.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/redis_modules/json.py
  python/python/glide/config.py
  python/python/glide/glide_client.py
  python/python/tests/conftest.py
  python/python/tests/test_async_client.py
  python/python/tests/test_pubsub.py
  python/python/tests/test_transaction.py
  python/python/tests/tests_redis_modules/test_json.py
  python/python/tests/utils/utils.py
Labels: python, breaking

#1645 Java: add DEVELOPER.md
  java/DEVELOPER.md
Labels: java, docs

#1682 Java: Update some Stream docs
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java, docs

#1683 Python: add XGROUP SETID command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1699 Python: add FUNCTION LOAD command
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
  python/python/tests/utils/utils.py
Labels: python

#1704 Python: add XPENDING command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/stream.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1700 Python: add FUNCTION FLUSH command
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1685 Java: Add Command GeoSearch & GeoSearchStore
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GeospatialIndicesBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/SortOrder.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchOptions.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchOrigin.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchResultOptions.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchShape.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchStoreOptions.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoUnit.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeospatialData.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1601 Java: Handle panics and errors in the Java FFI layer
  java/client/build.gradle
  java/client/src/test/java/glide/ffi/FfiTest.java
  java/src/errors.rs
  java/src/ffi_test.rs
  java/src/lib.rs
Labels: java

#1705 Java: Add SSCAN and ZSCAN commands
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/scan/BaseScanOptions.java
  java/client/src/main/java/glide/api/models/commands/scan/SScanOptions.java
  java/client/src/main/java/glide/api/models/commands/scan/ZScanOptions.java
  java/client/src/main/java/module-info.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1714 Python: add FUNCTION DELETE command
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1709 Python: add `SSCAN` command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1706 Java: Add HSCAN command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/scan/HScanOptions.java
  java/client/src/main/java/module-info.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1716 Python: add LCS command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1600 Create initial workflow for publishing to Maven Central
  .github/workflows/java-cd.yml
  java/client/build.gradle
  java/examples/build.gradle
Labels: java, CI

#1717 #1715: fix flakey test in xpending
  java/integTest/src/test/java/glide/SharedCommandTests.java
  python/python/tests/test_async_client.py
Labels: python, testing

#1707 Java: Adding command WAIT
  glide-core/src/client/mod.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1722 Support GlideString for sdiff commands
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1667 support hset, hget, lindex, linsert, blmove, incr, hlen and lmove wit…
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1617 Python: move the commands return value to bytes
  examples/python/client_example.py
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/constants.py
  python/python/glide/glide_client.py
  python/python/tests/test_async_client.py
  python/python/tests/test_pubsub.py
  python/python/tests/test_transaction.py
  python/python/tests/utils/utils.py
  python/src/lib.rs
Labels: python, breaking

#1720 Java: Add XGROUP SETID command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamGroupOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1710 Python: command WAIT
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python
