Repository valkey-io/valkey-glide, pull requests merged in 2024-07, with the labels that each got.

#1718 Python: added XAUTOCLAIM command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1732 Python: Add ZSCAN and HSCAN commands
  .github/workflows/python.yml
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1721 Python: add FCALL_RO command
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1662 Java: Pub & Sub = <3
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/PubSubBaseCommands.java
  java/client/src/main/java/glide/api/commands/PubSubClusterCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/main/java/glide/api/models/PubSubMessage.java
  java/client/src/main/java/glide/api/models/configuration/BackoffStrategy.java
  java/client/src/main/java/glide/api/models/configuration/BaseClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/BaseSubscriptionConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/ClusterSubscriptionConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/NodeAddress.java
  java/client/src/main/java/glide/api/models/configuration/RedisClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/RedisClusterClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/RedisCredentials.java
  java/client/src/main/java/glide/api/models/configuration/StandaloneSubscriptionConfiguration.java
  java/client/src/main/java/glide/api/models/exceptions/ConfigurationError.java
  java/client/src/main/java/glide/connectors/handlers/CallbackDispatcher.java
  java/client/src/main/java/glide/connectors/handlers/MessageHandler.java
  java/client/src/main/java/glide/connectors/handlers/ReadHandler.java
  java/client/src/main/java/glide/managers/BaseResponseResolver.java
  java/client/src/main/java/glide/managers/ConnectionManager.java
  java/client/src/test/java/glide/ExceptionHandlingTests.java
  java/client/src/test/java/glide/api/RedisClientCreateTest.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/client/src/test/java/glide/connection/ConnectionWithGlideMockTests.java
  java/client/src/test/java/glide/managers/CommandManagerTest.java
  java/client/src/test/java/glide/managers/ConnectionManagerTest.java
  java/integTest/src/test/java/glide/PubSubTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/src/lib.rs
Labels: java

#1736 Python: add WATCH and UNWATCH commands
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1735 Java: Add XCLAIM command
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamClaimOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1731 Changed the API to support binary transaction
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/models/ArgsBuilder.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/main/java/glide/api/models/GlideString.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
Labels: java

#1741 Make (s)publish commands available in transactions
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/glide/config.py
  python/python/glide/glide_client.py
  python/python/tests/test_pubsub.py
  python/python/tests/test_transaction.py
Labels: python

#1740 Python: LPos
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1739 Python: add FCALL command
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1728 support hscan, sscan and zscan with GlideString
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/commands/scan/BaseScanOptionsBinary.java
  java/client/src/main/java/glide/api/models/commands/scan/HScanOptionsBinary.java
  java/client/src/main/java/glide/api/models/commands/scan/SScanOptionsBinary.java
  java/client/src/main/java/glide/api/models/commands/scan/ZScanOptionsBinary.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java

#1730 support functionLoad and functionDelete with GlideString
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1757 Change to use _encode_arg to encode arguments for scrip invocation
  python/python/glide/glide_client.py
Labels: python

#1663 binary version of ping, touch, sunion and sunionstore
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementCommands.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1755 Python: Update docstring links
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
Labels: python, docs

#1738 Python: Add `FUNCTION LIST` command.
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/glide/constants.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
  python/python/tests/utils/utils.py
Labels: python

#1422 Java: Add Logger
  java/client/src/main/java/glide/api/logging/Logger.java
  java/client/src/main/java/glide/connectors/handlers/CallbackDispatcher.java
  java/client/src/main/java/glide/connectors/handlers/MessageHandler.java
  java/client/src/main/java/glide/connectors/handlers/ReadHandler.java
  java/client/src/main/java/glide/ffi/resolvers/LoggerResolver.java
  java/client/src/main/java/module-info.java
  java/client/src/test/java/glide/ExceptionHandlingTests.java
  java/client/src/test/java/glide/connection/ConnectionWithGlideMockTests.java
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/LoggerTests.java
  java/src/errors.rs
  java/src/lib.rs
Labels: java

#1758 Test all Python versions
  .github/workflows/python.yml
  csharp/README.md
  java/README.md
  node/README.md
  python/README.md
  python/pyproject.toml
  python/pytest.ini
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/sorted_set.py
  python/python/glide/async_commands/transaction.py
  python/python/glide/glide_client.py
  python/python/tests/test_async_client.py
  python/python/tests/test_scan.py
  python/python/tests/test_transaction.py
Labels: python, CI

#1753 Python: add XINFO GROUPS and XINFO CONSUMERS commands
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1766 Python: Modified `FUNCTION LIST` test to test byte arguments
  python/python/tests/test_async_client.py
Labels: python

#1733 Python: add DUMP and RESTORE commands
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/tests/test_async_client.py
Labels: python

#1762 Python: replace all commands links to valkey
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/redis_modules/json.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
Labels: python, docs

#1697 Node: change commands links to valkey links
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
Labels: node, docs

#1751 Java: Add SCAN command for standalone
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/main/java/glide/api/models/commands/scan/ScanOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/StandaloneTransactionTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1763 Java: replace all commands links to valkey
  java/client/src/main/java/glide/api/commands/BitmapBaseCommands.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementCommands.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/GenericClusterCommands.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/commands/GeospatialIndicesBaseCommands.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/commands/HyperLogLogBaseCommands.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/commands/PubSubBaseCommands.java
  java/client/src/main/java/glide/api/commands/PubSubClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsBaseCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/commands/TransactionsBaseCommands.java
  java/client/src/main/java/glide/api/commands/TransactionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/TransactionsCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/main/java/glide/api/models/commands/ExpireOptions.java
  java/client/src/main/java/glide/api/models/commands/GetExOptions.java
  java/client/src/main/java/glide/api/models/commands/InfoOptions.java
  java/client/src/main/java/glide/api/models/commands/LInsertOptions.java
  java/client/src/main/java/glide/api/models/commands/LPosOptions.java
  java/client/src/main/java/glide/api/models/commands/RangeOptions.java
  java/client/src/main/java/glide/api/models/commands/ScriptOptions.java
  java/client/src/main/java/glide/api/models/commands/ScriptOptionsGlideString.java
  java/client/src/main/java/glide/api/models/commands/SetOptions.java
  java/client/src/main/java/glide/api/models/commands/SortBaseOptions.java
  java/client/src/main/java/glide/api/models/commands/SortOptions.java
  java/client/src/main/java/glide/api/models/commands/SortOptionsBinary.java
  java/client/src/main/java/glide/api/models/commands/WeightAggregateOptions.java
  java/client/src/main/java/glide/api/models/commands/ZAddOptions.java
  java/client/src/main/java/glide/api/models/commands/bitmap/BitFieldOptions.java
  java/client/src/main/java/glide/api/models/commands/bitmap/BitmapIndexType.java
  java/client/src/main/java/glide/api/models/commands/bitmap/BitwiseOperation.java
  java/client/src/main/java/glide/api/models/commands/function/FunctionListOptions.java
  java/client/src/main/java/glide/api/models/commands/function/FunctionLoadOptions.java
  java/client/src/main/java/glide/api/models/commands/function/FunctionRestorePolicy.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoAddOptions.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchShape.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamReadGroupOptions.java
  java/client/src/main/java/glide/api/models/configuration/ClusterSubscriptionConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/StandaloneSubscriptionConfiguration.java
Labels: java, docs

#1768 Python: type migration for entries_read
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/stream.py
  python/python/tests/test_async_client.py
Labels: python

#1767 Java: type migration for entries_read
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamGroupOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1772 Python: add XCLAIM command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/stream.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1769 Python: add FUNCTION DUMP and FUNCTION RESTORE commands
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/tests/test_async_client.py
Labels: python

#1654 Glide pop commands
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1779 support functionStats with GlideString
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1780 Python: renaming tests clients
  python/python/tests/conftest.py
  python/python/tests/test_async_client.py
  python/python/tests/test_scan.py
  python/python/tests/test_transaction.py
  python/python/tests/tests_redis_modules/test_json.py
Labels: python, testing

#1781 Core + Python: Added support in large script requests
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/glide_client.py
  python/python/tests/test_async_client.py
Labels: python

#1528 Python: add SORT_RO command.
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1800 Add function list binary output support
  .github/workflows/java.yml
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1806 Python: Rename ClusterClientConfiguration to GlideClusterClientConfiguration
  CHANGELOG.md
  examples/python/client_example.py
  python/README.md
  python/python/glide/__init__.py
  python/python/glide/config.py
  python/python/tests/conftest.py
  python/python/tests/test_async_client.py
  python/python/tests/test_config.py
  python/python/tests/test_pubsub.py
Labels: python, breaking

#1794 Python: Add FUNCTION STATS command
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/glide/constants.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
  python/python/tests/utils/utils.py
Labels: python

#1793 Java: Add `XINFO GROUPS` and `XINFO CONSUMERS` commands
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1797 Python: add `FUNCTION KILL` command
  CHANGELOG.md
  java/integTest/src/test/java/glide/TestUtilities.java
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/tests/test_async_client.py
  python/python/tests/utils/utils.py
Labels: python

#1795 Java: store pointers in scripts
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/models/Script.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: python, java

#1816 Python: add XINFO STREAM command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/glide/constants.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1817 Java: Simplify function kill tests to reduce flakiness
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java, testing

#1814 Added transaction supports for DUMP, RESTORE, FUNCTION DUMP, FUNCTION RESTORE
  CHANGELOG.md
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_transaction.py
Labels: python, java

#1796 Python: fixing a bug with transaction exec
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/tests/test_transaction.py
Labels: python

#1790 Java: Fix CI.
  .github/workflows/java.yml
Labels: java, CI

#1826 Java: Fix critical spotbugs findings
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/models/commands/scan/ScanOptions.java
  java/client/src/main/java/glide/api/models/configuration/NodeAddress.java
  java/client/src/main/java/glide/connectors/handlers/CallbackDispatcher.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
Labels: java

#1818 Java: Unit tests for PubSub
  java/client/src/main/java/glide/connectors/handlers/MessageHandler.java
  java/client/src/test/java/glide/connectors/handlers/MessageHandlerTests.java
Labels: java, testing

#1719 Added SpotBugs plugin to Java client build
  .github/workflows/java.yml
  java/DEVELOPER.md
  java/client/build.gradle
Labels: java, CI

#1829 Python: fix mypy
  python/python/tests/test_transaction.py
Labels: python, testing

#1832 Java: remove redis references from IT
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/PubSubTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TestConfiguration.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterClientTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/StandaloneClientTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1824 Java: async `getPubSubMessage`.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/models/PubSubMessage.java
  java/client/src/main/java/glide/connectors/handlers/MessageHandler.java
  java/client/src/test/java/glide/connectors/handlers/MessageHandlerTests.java
  java/client/src/test/java/glide/connectors/handlers/PubSubMessageQueueTests.java
  java/integTest/src/test/java/glide/PubSubTests.java
Labels: java

#1833 Java: Remove use of non-ASCII characters in String literal in FfiTest
  java/client/src/test/java/glide/ffi/FfiTest.java
Labels: java, testing

#1835 Java: Try to fix log_to_file test flakiness
  java/integTest/src/test/java/glide/LoggerTests.java
Labels: java, testing

#1827 Java: Add docs to `GlideString`
  java/client/src/main/java/glide/api/models/GlideString.java
Labels: java, docs

#1825 Java: Add XINFO STREAM
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/function/FunctionListOptions.java
  java/client/src/main/java/glide/api/models/commands/stream/XInfoStreamOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1834 Java: add scan standalone (GlideString version)
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1837 Java: add scan (binary) for cluster commands
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/GenericClusterCommands.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/cluster/ClusterClientTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1828 Java: rename CreateClient to createClient
  java/benchmarks/src/main/java/glide/benchmarks/clients/glide/GlideAsyncClient.java
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/test/java/glide/api/RedisClientCreateTest.java
  java/examples/build.gradle
  java/examples/src/main/java/glide/examples/ExamplesApp.java
  java/integTest/src/test/java/glide/ConnectionTests.java
  java/integTest/src/test/java/glide/CustomThreadPoolResourceTest.java
  java/integTest/src/test/java/glide/ErrorHandlingTests.java
  java/integTest/src/test/java/glide/PubSubTests.java
  java/integTest/src/test/java/glide/SharedClientTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterClientTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/StandaloneClientTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1840 Java: Minor readme update
  java/README.md
  java/examples/src/main/java/glide/examples/ExamplesApp.java
Labels: java, docs

#1820 Java: Groom transaction docs and add some tests.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/main/java/glide/utils/ArgsBuilder.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1809 Python: fix transaction publish documentation and typing
  python/python/glide/async_commands/transaction.py
Labels: python

#1671 Java: Rename RedisClient, RedisClusterClient to GlideClient, GlideClusterClient
  java/DEVELOPER.md
  java/README.md
  java/benchmarks/src/main/java/glide/benchmarks/clients/glide/GlideAsyncClient.java
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/GlideClient.java
  java/client/src/main/java/glide/api/GlideClusterClient.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/main/java/glide/api/models/commands/FlushMode.java
  java/client/src/main/java/glide/api/models/configuration/ClusterSubscriptionConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/GlideClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/GlideClusterClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/StandaloneSubscriptionConfiguration.java
  java/client/src/main/java/glide/managers/ConnectionManager.java
  java/client/src/test/java/glide/ExceptionHandlingTests.java
  java/client/src/test/java/glide/api/GlideClientCreateTest.java
  java/client/src/test/java/glide/api/GlideClientTest.java
  java/client/src/test/java/glide/api/GlideClusterClientTest.java
  java/client/src/test/java/glide/connection/ConnectionWithGlideMockTests.java
  java/client/src/test/java/glide/managers/ConnectionManagerTest.java
  java/examples/src/main/java/glide/examples/ExamplesApp.java
  java/integTest/src/test/java/glide/ConnectionTests.java
  java/integTest/src/test/java/glide/CustomThreadPoolResourceTest.java
  java/integTest/src/test/java/glide/ErrorHandlingTests.java
  java/integTest/src/test/java/glide/PubSubTests.java
  java/integTest/src/test/java/glide/SharedClientTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterClientTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/StandaloneClientTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1856 Python: doc fixes
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
Labels: python, docs

#1788 Full tests on macos
  .github/workflows/python.yml
  glide-core/src/socket_listener.rs
  python/pytest.ini
  python/python/glide/glide_client.py
  python/python/tests/test_pubsub.py
Labels: testing

#1871 Java: Update artifact ID and group ID.
  java/README.md
  java/client/build.gradle
Labels: java, CI

#1873 Update README file for Python and Java
  java/README.md
  python/README.md
Labels: docs

#1881 CI: TEMP COMMIT: reduce the tests matrix
  .github/json_matrices/engine-matrix.json
  .github/workflows/csharp.yml
  .github/workflows/go.yml
  .github/workflows/java.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
Labels: CI

#1878 Python: fix transaction flaky test
  python/python/tests/test_transaction.py
Labels: python, testing

#1880 Changed MacOS 13 runner to a normal-sized runner
  .github/json_matrices/build-matrix.json
  .github/workflows/csharp.yml
  .github/workflows/go.yml
  .github/workflows/java-cd.yml
  .github/workflows/java.yml
  .github/workflows/node.yml
  .github/workflows/npm-cd.yml
  .github/workflows/pypi-cd.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
Labels: CI

#1870 Fix CI after repo move.
  .github/workflows/go.yml
  .github/workflows/java-cd.yml
  .github/workflows/java.yml
  .github/workflows/npm-cd.yml
  .github/workflows/ort.yml
  .github/workflows/pypi-cd.yml
Labels: java, CI

#1872 Python: remove print statements from integration tests
  python/python/tests/test_async_client.py
  python/python/tests/test_scan.py
Labels: python

#1902 Update README.md - Added Maven Notice (publishing is pending)
  java/README.md
Labels: java, docs

#1906 Update roadmap link
  README.md
Labels: docs

#1909 Java: Updates `glide-for-redis` references
  java/DEVELOPER.md
  java/client/build.gradle
Labels: java, CI

#1903 Fix release version for java client.
  .github/workflows/java-cd.yml
  java/client/build.gradle
Labels: java, CI

#1919 Node: add SUNION command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1924 Node: add SDIFF command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1929 Node: add SINTERSTORE command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1926 Fix rust linter CI.
  .github/workflows/rust.yml
Labels: CI

#1875 Java: Revises `DEVELOPER.md` file. (#403)
  java/DEVELOPER.md
Labels: java, docs

#1917 Java: enable Gradle wrapper validation
  .github/workflows/java.yml
Labels: java, CI

#1939 Node: Add support for Push operation in lib.rs
  node/rust-client/src/lib.rs
Labels: node

#1931 Node: add SDIFFSTORE command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1921 Node: Fix issue with ESLint installation documentation
  node/DEVELOPER.md
Labels: node, docs

#1952 Node: implement LSET
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1922 Fixes for java client release pipeline
  .github/workflows/java-cd.yml
  .github/workflows/java.yml
  examples/java/build.gradle
  java/DEVELOPER.md
  java/client/build.gradle
Labels: java, CI

#1959 Node: Add `LPUSHX` and `RPUSHX`
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1956 Node: add SINTERCARD command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1934 Node: Add LOLWUT command
  CHANGELOG.md
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
Labels: node

#1955 Node: add SMISMEMBER command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1958 Node: Add command FLUSHALL
  CHANGELOG.md
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1927 Node: add `LPOS` command
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/src/command-options/LPosOptions.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1932 Node: Add command DBSize
  CHANGELOG.md
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1964 Node: add PubSub support
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Errors.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
Labels: node

#1966 [Backport] #1922 to 1.0 branch
  .github/workflows/java-cd.yml
  .github/workflows/java.yml
  java/client/build.gradle
  java/examples/build.gradle
Labels: java, CI, docs

#1967 Allow developers to run CI on demand
  .github/workflows/csharp.yml
  .github/workflows/go.yml
  .github/workflows/java.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
Labels: CI

#1972 Node: add ZDIFF command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1968 Node: implement GETDEL
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1969 Node: Add `FUNCTION LOAD` command
  CHANGELOG.md
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/TestUtilities.ts
Labels: node

#1981 Node: Renaming commands directory
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/src/commands/LPosOptions.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1978 Node: add SETBIT command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1980 Node: Add GEOADD
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/src/commands/ConditionalChange.ts
  node/src/commands/geospatial/GeoAddOptions.ts
  node/src/commands/geospatial/GeospatialData.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1985 Node: add ZDIFFSTORE command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1977 Node: Add command ZRevRank
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1986 Node: Add `FLUSHDB` command.
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/src/commands/FlushMode.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1984 Node: add `FUNCTION FLUSH` command
  CHANGELOG.md
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/TestUtilities.ts
Labels: node

#1987 Node: added ZMSCORE command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1982 Node: Add `BITCOUNT` commnd.
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/src/commands/BitOffsetOptions.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1989 Node: add GETBIT command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1990 Node: add `FUNCTION DELETE` command
  CHANGELOG.md
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/TestUtilities.ts
Labels: node

#1994 Node: added ZMPOP command
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1995 Node: fix ZADD bug
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
Labels: bug, node

#1991 Node: Add `GEOPOS` command.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1988 Node: Add command GEODIST
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1920 Java: `XRange`/`XRevRange` should return `null` instead of `GlideException` when given a negative count
  CHANGELOG.md
  java/client/src/main/java/glide/api/BaseClient.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: bug, java

#1997 Node: Add command GEOHASH
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2004 Update sintercard and xadd docs
  node/src/BaseClient.ts
Labels: node, docs

#1970 Java: Add overloads for XADD to allow duplicate entry keys
  CHANGELOG.md
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/GlideClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#2001 Node: Add `tsconfig` for tests.
  node/tests/tsconfig.json
Labels: node, testing

#1976 Python client CI: Split lint and testing in CI + add reporting.
  .github/workflows/python.yml
  python/.gitignore
  python/requirements.txt
Labels: python, CI

#1993 Node: rework server version check and update tests
  node/package.json
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  utils/TestUtils.ts
  utils/package.json
Labels: node, testing

#2012 Node: add BITOP command
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2011 Node: added FCALL and FCALL_RO commands
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/TestUtilities.ts
Labels: node

#2008 Node: Adds pubsub testing
  node/src/BaseClient.ts
  node/tests/PubSub.test.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
Labels: node

#2010 Node: Rework transaction IT.
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/TestUtilities.ts
Labels: node, testing

#2016 Add rust lint config for unknown cfgs.
  glide-core/Cargo.toml
  glide-core/tests/utilities/mod.rs
  java/Cargo.toml
Labels: Rust core

#2002 Node: add LMOVE
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1998 Node: add BITPOS command
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/src/commands/BitOffsetOptions.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2009 Node: Add `ZINCRBY` command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  python/python/glide/async_commands/core.py
Labels: node

#2005 Node: Convert classes to types
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/src/commands/BitOffsetOptions.ts
  node/src/commands/ConditionalChange.ts
  node/src/commands/FlushMode.ts
  node/src/commands/LPosOptions.ts
  node/src/commands/geospatial/GeoAddOptions.ts
  node/src/commands/geospatial/GeospatialData.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node, breaking

#2021 Update documentation to use valkey-glide version 1.x.x
  java/README.md
Labels: java, docs

#2020 Add command HStrlen
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2007 Node: add `GEOSEARCH`
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2019 Node: Add `FUNCTION LIST`
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/TestUtilities.ts
Labels: node

#2017 Update docs for `GEOSEARCH` command
  CHANGELOG.md
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchOptions.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchOrigin.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchResultOptions.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchShape.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoSearchStoreOptions.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoUnit.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  python/python/glide/async_commands/core.py
Labels: python, java, docs

#1983 Node client CI: Add reporting
  .github/workflows/node.yml
  node/.gitignore
  node/jest.config.js
  node/package.json
  node/tests/TestUtilities.ts
Labels: node, CI

#2023 Node: Exported client configuration types
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
Labels: node

#2013 Add command ZRandMember
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1925 Java: add examples
  examples/java/README.md
  examples/java/build.gradle
  examples/java/src/main/java/glide/examples/ClusterExample.java
  examples/java/src/main/java/glide/examples/ExamplesApp.java
  examples/java/src/main/java/glide/examples/StandaloneExample.java
Labels: java, docs

#2024 Node: added COPY command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClientInternals.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2045 Node: Fix version check - again.
  node/jest.config.js
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/TestUtilities.ts
  utils/TestUtils.ts
Labels: node, testing

#2026 Node: add BITFIELD and BITFIELD_RO commands
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  python/python/glide/async_commands/core.py
Labels: node

#2048 Python: minor corrections in BITFIELD and BITFIELD_RO docs
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
Labels: python, docs

#2027 Node: BLMOVE
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2047 Node: add minimal binary support
  node/rust-client/src/lib.rs
  node/src/BaseClient.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2046 Node: implement MSETNX
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2060 Node: temporary fix CI
  node/tests/SharedTests.ts
Labels: node, testing

#2043 Python: add PubSub commands
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/command_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_pubsub.py
  python/python/tests/test_transaction.py
Labels: python, Rust core

#2056 Node: Fix tests.
  node/src/BaseClient.ts
  node/tests/PubSub.test.ts
  node/tests/RedisClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node, testing

#2053 Node: added PFMERGE command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node
