Repository valkey-io/valkey-glide, pull requests merged in 2024-10, with the labels that each got.

#2320 Node: Fix imports for `Script` and `ClusterScanCursor`.
  node/src/GlideClusterClient.ts
  node/tests/ScanTest.test.ts
Labels: node

#2370 Go: Implementing List commands
  go/api/base_client.go
  go/api/command_options.go
  go/api/list_commands.go
  go/api/response_handlers.go
  go/integTest/shared_commands_test.go
Labels: go

#2354 Update developer docs
  node/DEVELOPER.md
  python/DEVELOPER.md
Labels: python, node, docs

#2356 Added inflight_requests_limit
  glide-core/src/client/mod.rs
  glide-core/src/client/types.rs
  glide-core/src/protobuf/connection_request.proto
  glide-core/src/socket_listener.rs
  glide-core/tests/test_socket_listener.rs
  python/python/glide/config.py
  python/python/tests/conftest.py
  python/python/tests/test_async_client.py
Labels: python, Rust core, protobuf

#2391 Fix logger initialization on readonly filesystems
  logger_core/src/lib.rs
  logger_core/tests/test_logger.rs
Labels: Rust core, logger

#2390 Java: log failed tests
  java/build.gradle
Labels: java, CI

#2156 Java: Add option to run IT on remote ports.
  java/DEVELOPER.md
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/ConnectionTests.java
  java/integTest/src/test/java/glide/CustomThreadPoolResourceTest.java
  java/integTest/src/test/java/glide/ErrorHandlingTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TestConfiguration.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
Labels: java, testing

#2396 Java: fix logger test
  java/integTest/src/test/java/glide/LoggerTests.java
Labels: java, logger, testing

#2350 Java; Fix IT
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java, testing

#2388 Java: add CI to run modules
  .github/workflows/java.yml
  java/DEVELOPER.md
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/modules/JsonTests.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java, CI

#2389 Add all module commands to proto
  csharp/lib/AsyncClient.cs
  glide-core/src/protobuf/command_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/GlideClusterClient.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/test/java/glide/api/GlideClusterClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  node/src/Commands.ts
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_proto_coded.py
Labels: protobuf

#2362 Bump changelog
  CHANGELOG.md
Labels: docs

#2264 Go: Implementing PING command
  go/api/base_client.go
  go/api/commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2415 Python: remove `async_timeout` and `typing_extensions` dependencies f…
  python/pyproject.toml
  python/python/glide/glide_client.py
  python/requirements.txt
Labels: python

#2408 Added inflightRequestsLimit client config to java
  java/client/src/main/java/glide/api/models/configuration/BaseClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/GlideClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/GlideClusterClientConfiguration.java
  java/client/src/main/java/glide/managers/ConnectionManager.java
  java/client/src/test/java/glide/managers/ConnectionManagerTest.java
  java/integTest/src/test/java/glide/SharedClientTests.java
Labels: java

#2403 Python: adds JSON.ARRLEN command
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python

#2418 Python: adds JSON.CLEAR command
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python

#2420 Bump changelog
  CHANGELOG.md
Labels: docs

#2386 Implementing list commands
  go/api/base_client.go
  go/api/command_options.go
  go/api/list_commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2426 Python [FT.CREATE] command added(Created for release-1.2 branch)
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_constants.py
  python/python/glide/async_commands/server_modules/ft_options/ft_create_options.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: python

#2414 Java: `FT.CREATE`
  CHANGELOG.md
  java/client/build.gradle
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/client/src/main/java/glide/api/models/commands/FT/FTCreateOptions.java
  java/client/src/main/java/module-info.java
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java

#2416 Java: Allow to run modules CI on demand.
  .github/workflows/java.yml
  CHANGELOG.md
Labels: java, CI

#2437 Python FT.DROPINDEX command
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_constants.py
  python/python/glide/async_commands/server_modules/ft_options/ft_create_options.py
  python/python/tests/tests_server_modules/search/test_ft_create.py
  python/python/tests/tests_server_modules/search/test_ft_dropindex.py
Labels: python

#2294 Go: Implementing DEL command
  go/api/base_client.go
  go/api/commands.go
  go/api/generic_commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2461 Update routing for commands from server modules.
  CHANGELOG.md
  glide-core/redis-rs/redis/src/cluster_routing.rs
Labels: Rust core

#2440 Java: `FT.DROPINDEX`.
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java, 1_2_candidate

#2458 Python: Adds JSON.NUMMULTBY Command
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python

#2465 Fix python CI: fix linter installation
  .github/workflows/python.yml
Labels: python, CI

#2439 Java: `FT.SEARCH`
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/client/src/main/java/glide/api/models/commands/FT/FTSearchOptions.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java, 1_2_candidate

#2471 Python: Add commands `FT.ALIASADD`, `FT.ALIASDEL`, `FT.ALIASUPDATE`
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_constants.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: python

#2462 Java: add JSON.SET and JSON.GET
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/client/src/main/java/glide/api/models/commands/json/JsonGetOptions.java
  java/client/src/main/java/glide/api/models/commands/json/JsonGetOptionsBinary.java
  java/client/src/main/java/module-info.java
  java/client/src/test/java/glide/api/commands/servermodules/JsonTest.java
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2472 Node: Add CI support for server modules
  .github/workflows/build-node-wrapper/action.yml
  .github/workflows/install-shared-dependencies/action.yml
  .github/workflows/node.yml
  CHANGELOG.md
  node/package.json
  node/tests/ServerModules.test.ts
  node/tests/TestUtilities.ts
Labels: node

#2468 Java: `FT.AGGREGATE`.
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/client/src/main/java/glide/api/models/commands/FT/FTAggregateOptions.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java

#2405 Java: add `FT.INFO`
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java, 1_2_candidate

#2442 Java: FT.ALIASADD, FT.ALIASDEL, FT.ALIASUPDATE
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
  python/python/glide/async_commands/server_modules/ft.py
Labels: java

#2427 Node: add commands JSON.GET and JSON.SET
  CHANGELOG.md
  node/index.ts
  node/npm/glide/index.ts
  node/package.json
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2476 Java: `JSON.ARRINSERT` and `JSON.ARRLEN`
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/modules/JsonTests.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java

#2397 Update README.md nodejs platform support
  node/README.md
Labels: node, docs

#2475 Run CI on PR merge on release branches
  .github/workflows/codeql.yml
  .github/workflows/csharp.yml
  .github/workflows/go.yml
  .github/workflows/java.yml
  .github/workflows/lint-ts.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  .github/workflows/semgrep.yml
Labels: CI

#2478 Rust - code cleanup, part 1
  .vscode/settings.json
  glide-core/Cargo.toml
  glide-core/redis-rs/redis/Cargo.toml
  glide-core/redis-rs/redis/src/aio/connection.rs
  glide-core/redis-rs/redis/src/client.rs
  glide-core/redis-rs/redis/src/cluster_async/connections_container.rs
  glide-core/redis-rs/redis/src/cluster_async/connections_logic.rs
  glide-core/redis-rs/redis/src/cluster_async/mod.rs
  glide-core/redis-rs/redis/src/cluster_client.rs
  glide-core/redis-rs/redis/src/commands/mod.rs
  glide-core/redis-rs/redis/src/types.rs
  node/DEVELOPER.md
  node/tests/SharedTests.ts
Labels: docs, dependency, 1_2_candidate

#2489 Java: add JSON.ARRAPPEND command
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2487 Fix python CI
  .github/workflows/python.yml
  CHANGELOG.md
  python/python/tests/tests_server_modules/search/test_ft_create.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: python, CI

#2470 Python: Add `FT.SEARCH` command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_constants.py
  python/python/glide/async_commands/server_modules/ft_options/ft_search_options.py
  python/python/tests/tests_server_modules/search/test_ft_search.py
Labels: python

#2482 Core: UDS Socket Handling Rework
  CHANGELOG.md
  glide-core/src/retry_strategies.rs
  glide-core/src/socket_listener.rs
  glide-core/tests/test_socket_listener.rs
Labels: bug, Core changes

#2051 CI - Minimal and full CI matrix impl
  .github/DEVELOPER.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/json_matrices/build-matrix.json
  .github/json_matrices/engine-matrix.json
  .github/json_matrices/supported-languages-versions.json
  .github/pull_request_template.md
  .github/workflows/build-node-wrapper/action.yml
  .github/workflows/codeql.yml
  .github/workflows/create-test-matrices/action.yml
  .github/workflows/csharp.yml
  .github/workflows/go.yml
  .github/workflows/install-redis/action.yml
  .github/workflows/install-rust-and-protoc/action.yml
  .github/workflows/install-shared-dependencies/action.yml
  .github/workflows/install-valkey/action.yml
  .github/workflows/java-cd.yml
  .github/workflows/java.yml
  .github/workflows/lint-rust/action.yml
  .github/workflows/lint-ts/action.yml
  .github/workflows/node-create-package-file/action.yml
  .github/workflows/node.yml
  .github/workflows/npm-cd.yml
  .github/workflows/ort.yml
  .github/workflows/pypi-cd.yml
  .github/workflows/python.yml
  .github/workflows/run-ort-tools/action.yml
  .github/workflows/rust.yml
  .github/workflows/semgrep.yml
  .github/workflows/setup-musl-on-linux/action.yml
  .github/workflows/start-self-hosted-runner/action.yml
  .prettierignore
  .vscode/settings.json
  CHANGELOG.md
  node/tests/GlideClient.test.ts
  node/tests/GlideClusterClient.test.ts
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/test_async_client.py
  python/python/tests/tests_server_modules/test_json.py
Labels: OPS, 1_2_candidate

#2490 Java: add JSON.DEL and JSON.FORGET
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/client/src/test/java/glide/api/commands/servermodules/JsonTest.java
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2491 Node: Add command JSON.TOGGLE
  CHANGELOG.md
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2497 Java: fix IT
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java, testing

#2494 Python `FT.INFO` command added
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_constants.py
  python/python/glide/constants.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: python

#2501 Node: add `FT.CREATE` command
  CHANGELOG.md
  node/DEVELOPER.md
  node/index.ts
  node/npm/glide/index.ts
  node/package.json
  node/src/server-modules/GlideFt.ts
  node/src/server-modules/GlideFtOptions.ts
  node/tests/ServerModules.test.ts
Labels: node

#2504 Java: add JSON.TOGGLE command
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2505 Node: Add command JSON.DEL and JSON.FORGET
  CHANGELOG.md
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2393 Minor update for node build
  node/package.json
Labels: node

#2492 Java: `JSON.OBJLEN` and `JSON.OBJKEYS`.
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2508 FT.EXPLAIN and FT.EXPLAINCLI commands added
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_constants.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: python

#2510 Node: Add command JSON.TYPE
  CHANGELOG.md
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2512 Docs: Update `ft.create` docs for Java and Python
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/client/src/main/java/glide/api/models/commands/FT/FTCreateOptions.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
  python/DEVELOPER.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_create_options.py
  python/python/tests/tests_server_modules/search/test_ft_create.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: docs

#2516 Node: add `FT.DROPINDEX` command
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  node/src/server-modules/GlideFt.ts
  node/src/server-modules/GlideFtOptions.ts
  node/tests/ServerModules.test.ts
Labels: node

#2518 Java: add JSON.ARRTRIM command
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2519 Java: `JSON.CLEAR`.
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2503 Rc 1.2 fix
  .github/json_matrices/build-matrix.json
  .github/workflows/install-shared-dependencies/action.yml
  .github/workflows/node.yml
  .github/workflows/npm-cd.yml
  .github/workflows/pypi-cd.yml
  .github/workflows/setup-musl-on-linux/action.yml
  node/package.json
Labels: node, CI

#2372 Python: adds JSON.STRLEN, JSON.STRAPPEND commands
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python

#2395 Python: adds JSON.OBJKEYS command
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python

#2481 Python: add JSON.DEBUG.FIELDS and JSON.DEBUG.MEMORY commands
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python, 1_2_candidate

#2457 Python: adds JSON.ARRTRIM command
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python

#2495 Python - Implement JSON.OBJLEN command functionality
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python, 1_2_candidate

#2486 Java: `JSON.ARRPOP`.
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2473 Java: `FT.PROFILE`
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/client/src/main/java/glide/api/models/commands/FT/FTAggregateOptions.java
  java/client/src/main/java/glide/api/models/commands/FT/FTCreateOptions.java
  java/client/src/main/java/glide/api/models/commands/FT/FTProfileOptions.java
  java/client/src/main/java/glide/api/models/commands/FT/FTSearchOptions.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java

#2520 Java: `JSON.DEBUG`.
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2333 CI: Minor fixes
  .github/workflows/lint-rust/action.yml
  .github/workflows/node.yml
  .github/workflows/rust.yml
  .github/workflows/semgrep.yml
Labels: CI

#2522 Java: add JSON.STRAPPEND and JSON.STRLEN
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2511 Java: add JSON.NUMINCRBY and JSON.NUMMULTBY
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2515 Java: FT.EXPLAIN and FT.EXPLAINCLI
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java

#2530 Python: FT.AGGREGATE command added
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/command_args.py
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_aggregate_options.py
  python/python/glide/async_commands/server_modules/ft_options/ft_constants.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: python

#2525 Java: add JSON.TYPE
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/client/src/test/java/glide/api/commands/servermodules/JsonTest.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2382 Python: adds JSON.ARRAPPEND command
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python

#2451 Python: adds JSON.RESP command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/server_modules/json.py
  python/python/glide/constants.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python

#2523 Java: Fix script kill IT
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java, testing

#2355 Add node REPL
  node/DEVELOPER.md
  node/package.json
  node/tsconfig.json
Labels: node, docs

#2463 Go: Fixing the version of staticcheck
  go/Makefile
  go/integTest/glide_test_suite_test.go
  go/integTest/shared_commands_test.go
Labels: go

#2528 Python: Add JSON.ARRINDEX Command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python, 1_2_candidate

#2540 Node: `FT.INFO`
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/server-modules/GlideFt.ts
  node/tests/ServerModules.test.ts
Labels: node

#2500 Fix for - Minimal and full CI matrix impl #2051
  .github/DEVELOPER.md
  .github/json_matrices/build-matrix.json
  .github/json_matrices/engine-matrix.json
  .github/json_matrices/supported-languages-versions.json
  .github/workflows/build-node-wrapper/action.yml
  .github/workflows/build-python-wrapper/action.yml
  .github/workflows/create-test-matrices/action.yml
  .github/workflows/csharp.yml
  .github/workflows/go.yml
  .github/workflows/install-engine/action.yml
  .github/workflows/install-redis/action.yml
  .github/workflows/install-shared-dependencies/action.yml
  .github/workflows/java-cd.yml
  .github/workflows/java.yml
  .github/workflows/lint-rust/action.yml
  .github/workflows/lint-ts.yml
  .github/workflows/nightly.yml
  .github/workflows/node.yml
  .github/workflows/npm-cd.yml
  .github/workflows/pypi-cd.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  .github/workflows/semgrep.yml
  .github/workflows/setup-musl-on-linux/action.yml
  .github/workflows/start-self-hosted-runner/action.yml
  glide-core/src/client/types.rs
  glide-core/tests/test_standalone_client.rs
  glide-core/tests/utilities/mod.rs
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  node/hybrid-node-tests/commonjs-test/package.json
  node/hybrid-node-tests/ecmascript-test/package.json
  node/jest.config.js
  node/package.json
  node/tests/AsyncClient.test.ts
  node/tests/GlideClient.test.ts
  node/tests/GlideClientInternals.test.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/PubSub.test.ts
  node/tests/ScanTest.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  node/tests/setup.js
  python/Cargo.toml
  python/src/lib.rs
  utils/TestUtils.ts
Labels: CI

#2537 Node: Add command JSON.STRLEN and JSON.STRAPPEND
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2542 Node: `JSON.ARRINSERT`, `JSON.ARRPOP` and `JSON.ARRLEN`.
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
  python/python/glide/async_commands/server_modules/json.py
Labels: node

#2446 Update README.md with roadmap
  README.md
Labels: docs

#2543 Python: FT.PROFILE command added
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_constants.py
  python/python/glide/async_commands/server_modules/ft_options/ft_profile_options.py
  python/python/glide/constants.py
  python/python/tests/tests_server_modules/search/test_ft_search.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: python

#2550 Node: add ARRTRIM command
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node
