Repository valkey-io/valkey-glide, pull requests merged in 2024-11, with the labels that each got.

#2558 Node: specify minimal Node.js version in package.json
  node/package.json
Labels: enhancement, node, dependency

#2551 Node: Add `FT.SEARCH` command
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/server-modules/GlideFt.ts
  node/src/server-modules/GlideFtOptions.ts
  node/tests/ServerModules.test.ts
  node/tests/TestUtilities.ts
Labels: node, 1_2_candidate

#2574 Go: add Concat function
  go/api/base_client.go
  go/utils/transform_utils.go
  go/utils/transform_utils_test.go
Labels: go

#2577 PYTHON: Json.numincrby update
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python, 1_2_candidate

#2578 PYTHON: Json.nummultby update
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python, 1_2_candidate

#2407 Python: adds JSON.ARRPOP command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python

#2434 Go:Implementing List commands
  go/api/base_client.go
  go/api/command_options.go
  go/api/list_commands.go
  go/api/response_handlers.go
  go/integTest/shared_commands_test.go
Labels: go

#2565 Java: Update docs for VSS
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/client/src/main/java/glide/api/models/commands/FT/FTAggregateOptions.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java, docs

#2607 Node: Optimize test utility promises
  node/tests/PubSub.test.ts
Labels: node, testing

#2614 Node: Ensure client closure in flushAndCloseClient with try-finally
  node/tests/TestUtilities.ts
Labels: node, testing

#2611 Node tests - transactions fix
  node/tests/TestUtilities.ts
Labels: node

#2626 fixed failing to create cluster on time and tests that cant be antici…
  node/tests/ServerModules.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: ci_full_matrix

#2593 Bump valkey 8 wait timeout
  java/integTest/src/test/java/glide/SharedClientTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: 1_2_candidate

#2605 fixing full matrix action
  .github/json_matrices/supported-languages-versions.json
  .github/workflows/full-matrix-tests.yml
Labels: CI

#2629 Node: Increase times for SCRIPT KILL tests to avoid flakiness
  node/tests/GlideClient.test.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node, testing

#2587 Core: Add support for sending multi-slot JSON.MSET and JSON.MGET commands
  CHANGELOG.md
  glide-core/redis-rs/redis/src/cluster.rs
  glide-core/redis-rs/redis/src/cluster_async/mod.rs
  glide-core/redis-rs/redis/src/cluster_routing.rs
  go/api/commands.go
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/commands/TransactionsBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  node/src/BaseClient.ts
  python/python/glide/async_commands/core.py
Labels: Rust core

#2634 Fix list of readonly commands
  glide-core/redis-rs/redis/src/cluster_routing.rs
Labels: Rust core

#2569 Java: `FT._ALIASLIST`.
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java

#2554 Node: `FT.AGGREGATE`
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/server-modules/GlideFt.ts
  node/src/server-modules/GlideFtOptions.ts
  node/tests/ServerModules.test.ts
Labels: node

#2572 Node: add command JSON.DEBUG
  CHANGELOG.md
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2573 Python code cleanup
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_constants.py
  python/python/glide/async_commands/server_modules/ft_options/ft_create_options.py
  python/python/glide/async_commands/server_modules/ft_options/ft_profile_options.py
  python/python/glide/async_commands/server_modules/ft_options/ft_search_options.py
  python/python/tests/tests_server_modules/search/test_ft_create.py
  python/python/tests/tests_server_modules/search/test_ft_dropindex.py
  python/python/tests/tests_server_modules/search/test_ft_search.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: python

#2566 Node: Add command JSON.CLEAR
  CHANGELOG.md
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2568 Java: `FT._LIST`.
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/FT.java
  java/integTest/src/test/java/glide/modules/VectorSearchTests.java
Labels: java

#2555 Node: add command JSON.NUMINCRBY and JSON.NUMMULTBY
  CHANGELOG.md
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2632 Fix node version in CI
  .github/workflows/node.yml
Labels: node, CI

#2639 Node: Fix error checks in tests
  node/tests/GlideClusterClient.test.ts
  node/tests/SharedTests.ts
Labels: node, testing

#2560 Node: `FT.EXPLAIN` and `FT.EXPLAINCLI`
  CHANGELOG.md
  node/src/server-modules/GlideFt.ts
  node/tests/ServerModules.test.ts
Labels: node

#2559 Node: add JSON.ARRINDEX comand
  CHANGELOG.md
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2571 Python: `FT._LIST`.
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_constants.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: python

#2570 Node: `FT._LIST`.
  CHANGELOG.md
  node/src/server-modules/GlideFt.ts
  node/tests/ServerModules.test.ts
Labels: node

#2563 Node: add JSON.OBJLEN and JSON.OBJKEYS
  CHANGELOG.md
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2562 Node: `JSON.ARRAPPEND`
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
  python/python/glide/async_commands/server_modules/json.py
  python/python/tests/tests_server_modules/test_json.py
Labels: node

#2536 Node: Fix IT on redis 6
  node/tests/GlideClient.test.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node, testing

#2638 Python: `FT._ALIASLIST` command added
  CHANGELOG.md
  python/python/glide/async_commands/server_modules/ft.py
  python/python/glide/async_commands/server_modules/ft_options/ft_constants.py
  python/python/tests/tests_server_modules/test_ft.py
Labels: python

#2546 Java: JSON.ARRINDEX
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/client/src/main/java/glide/api/models/commands/json/JsonArrindexOptions.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2652 Node: Add FT._ALIASLIST command
  CHANGELOG.md
  node/src/server-modules/GlideFt.ts
  node/tests/ServerModules.test.ts
Labels: node

#2658 Create task.yml and question.yml issue template
  .github/ISSUE_TEMPLATE/flaky-ci-test-issue.md
  .github/ISSUE_TEMPLATE/flaky-ci-test-issue.yml
  .github/ISSUE_TEMPLATE/inquiry.yml
  .github/ISSUE_TEMPLATE/task.yml
Labels: OPS

#2666 changing macos latest to 14
  .github/json_matrices/build-matrix.json
Labels: CI/CD, 1_2_candidate

#2667 Remove obsolete build, test, and documentation scripts from redis-rs
  glide-core/redis-rs/Makefile
  glide-core/redis-rs/get_command_info.py
  glide-core/redis-rs/release.sh
  glide-core/redis-rs/scripts/update-versions.sh
  glide-core/redis-rs/upload-docs.sh
Labels: Rust core

#2633 Node: Add `FT.PROFILE` command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  node/npm/glide/index.ts
  node/src/server-modules/GlideFt.ts
  node/src/server-modules/GlideFtOptions.ts
  node/tests/ServerModules.test.ts
Labels: node

#2567 Node: `JSON.MGET`.
  CHANGELOG.md
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
Labels: node

#2514 Java: `JSON.MGET`.
  CHANGELOG.md
  java/client/src/main/java/glide/api/commands/servermodules/Json.java
  java/integTest/src/test/java/glide/modules/JsonTests.java
Labels: java

#2651 Feature/replace credes
  .github/workflows/python.yml
  CHANGELOG.md
  glide-core/redis-rs/redis/Cargo.toml
  glide-core/redis-rs/redis/src/aio/multiplexed_connection.rs
  glide-core/redis-rs/redis/src/cluster.rs
  glide-core/redis-rs/redis/src/cluster_async/mod.rs
  glide-core/redis-rs/redis/src/cmd.rs
  glide-core/redis-rs/redis/src/parser.rs
  glide-core/redis-rs/redis/src/types.rs
  glide-core/redis-rs/redis/tests/auth.rs
  glide-core/src/client/mod.rs
  glide-core/src/client/standalone_client.rs
  glide-core/src/protobuf/command_request.proto
  glide-core/src/socket_listener.rs
  node/src/BaseClient.ts
  node/tests/SharedTests.ts
  package.json
  python/dev_requirements.txt
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/glide_client.py
  python/python/tests/test_auth.py
  python/requirements.txt
Labels: Feature, 1_2_candidate, Users Pain, All Wrappers issue

#2682 Core: SlotMap refactor - Added NodesMap, Update the slot map upon MOVED errors
  CHANGELOG.md
  glide-core/redis-rs/redis/src/cluster.rs
  glide-core/redis-rs/redis/src/cluster_async/connections_container.rs
  glide-core/redis-rs/redis/src/cluster_async/mod.rs
  glide-core/redis-rs/redis/src/cluster_routing.rs
  glide-core/redis-rs/redis/src/cluster_slotmap.rs
  glide-core/redis-rs/redis/src/cluster_topology.rs
  glide-core/redis-rs/redis/src/commands/cluster_scan.rs
  glide-core/redis-rs/redis/tests/auth.rs
  glide-core/redis-rs/redis/tests/test_cluster_async.rs
Labels: Rust core

#2690 Node: transaction commands for json module
  CHANGELOG.md
  glide-core/redis-rs/redis/src/cluster_routing.rs
  node/src/server-modules/GlideJson.ts
  node/tests/ServerModules.test.ts
  node/tests/TestUtilities.ts
  package.json
Labels: node

#2539 Core: add az awareness to read strategy
  .github/workflows/redis-rs.yml
  CHANGELOG.md
  glide-core/redis-rs/redis/Cargo.toml
  glide-core/redis-rs/redis/src/aio/connection.rs
  glide-core/redis-rs/redis/src/aio/mod.rs
  glide-core/redis-rs/redis/src/aio/multiplexed_connection.rs
  glide-core/redis-rs/redis/src/client.rs
  glide-core/redis-rs/redis/src/cluster.rs
  glide-core/redis-rs/redis/src/cluster_async/connections_container.rs
  glide-core/redis-rs/redis/src/cluster_async/connections_logic.rs
  glide-core/redis-rs/redis/src/cluster_async/mod.rs
  glide-core/redis-rs/redis/src/cluster_client.rs
  glide-core/redis-rs/redis/src/cluster_slotmap.rs
  glide-core/redis-rs/redis/src/lib.rs
  glide-core/redis-rs/redis/tests/test_async_cluster_connections_logic.rs
  glide-core/redis-rs/redis/tests/test_cluster_async.rs
  glide-core/src/client/mod.rs
  glide-core/src/client/reconnecting_connection.rs
  glide-core/src/client/standalone_client.rs
  glide-core/src/client/types.rs
  glide-core/src/protobuf/connection_request.proto
  glide-core/tests/test_standalone_client.rs
  glide-core/tests/utilities/cluster.rs
  glide-core/tests/utilities/mod.rs
  node/src/BaseClient.ts
  package.json
Labels: Rust core

#2712 ORT-external-fork-fix
  .github/workflows/ort.yml
Labels: tools, dependency, 1_2_candidate

#2695 Improve password update functionality and add tests
  CHANGELOG.md
  glide-core/redis-rs/afl/parser/Cargo.toml
  glide-core/redis-rs/redis/src/types.rs
  glide-core/src/client/mod.rs
  glide-core/src/protobuf/command_request.proto
  glide-core/src/socket_listener.rs
  node/src/BaseClient.ts
  node/tests/AuthTest.test.ts
  node/tests/SharedTests.ts
  python/python/glide/async_commands/core.py
  python/python/glide/glide_client.py
  python/python/tests/conftest.py
  python/python/tests/test_auth.py
Labels: 1_2_candidate, All Wrappers issue

#2702 Python: rename glide json
  python/python/glide/__init__.py
  python/python/glide/async_commands/server_modules/glide_json.py
  python/python/tests/tests_server_modules/test_ft.py
  python/python/tests/tests_server_modules/test_json.py
Labels: python

#2686 Node: add AZ Affinity ReadFrom strategy Support
  node/src/BaseClient.ts
  node/tests/GlideClient.test.ts
  node/tests/GlideClusterClient.test.ts
Labels: node, testing

#2678 Java: AZ Awareness
  java/client/src/main/java/glide/api/models/configuration/BaseClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/ReadFrom.java
  java/client/src/main/java/glide/managers/ConnectionManager.java
  java/client/src/test/java/glide/managers/ConnectionManagerTest.java
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/ConnectionTests.java
  java/integTest/src/test/java/glide/TestConfiguration.java
  java/integTest/src/test/java/glide/TestUtilities.java
Labels: java

#2677 Java: Add password update API
  CHANGELOG.md
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/integTest/src/test/java/glide/SharedClientTests.java
  java/integTest/src/test/java/glide/cluster/ClusterClientTests.java
  java/integTest/src/test/java/glide/standalone/StandaloneClientTests.java
Labels: java

#2727 Node - Client API for retrieving internal statistics
  CHANGELOG.md
  node/rust-client/src/lib.rs
  node/src/BaseClient.ts
  node/tests/GlideClusterClient.test.ts
Labels: node, 1_2_candidate

#2703 Decrease Warnings in the CI
  python/python/tests/test_async_client.py
Labels: python, testing

#2740 Update supported Go language versions to include 1.20.0
  .github/json_matrices/supported-languages-versions.json
  go/DEVELOPER.md
  go/Makefile
  go/benchmarks/go.mod
Labels: go

#2737 Node rc fixes + unpublish on failure mechanism
  .github/json_matrices/build-matrix.json
  .github/workflows/npm-cd.yml
  node/package.json
Labels: CI/CD, 1_2_candidate

#2751 Java: Fix readme
  java/README.md
  java/client/build.gradle
  java/integTest/build.gradle
Labels: java, docs

#2752 fix changelog
  CHANGELOG.md
Labels: docs

#2748 Node: Add Documentations for base objects
  node/src/BaseClient.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
Labels: node, docs, 1_2_candidate

#2753 Python: Add missing export
  python/python/glide/__init__.py
Labels: python

#2754 Node: Add server-modules to npm release
  node/npm/glide/package.json
Labels: node, 1_2_candidate

#2767 Node: fix imports
  node/npm/glide/index.ts
Labels: node, 1_2_candidate

#2750 Fix PyPI Code Deployment workflow
  .github/DEVELOPER.md
  .github/json_matrices/supported-languages-versions.json
  .github/workflows/pypi-cd.yml
  python/Pipfile
  python/README.md
  python/pyproject.toml
  python/python/glide/async_commands/standalone_commands.py
  python/python/tests/conftest.py
  python/requirements.txt
Labels: python, Release blocker, CI/CD
