Repository valkey-io/valkey-glide, pull requests merged in 2024-12, with the labels that each got.

#2586 GO: Handling interface response
  go/Cargo.toml
  go/api/glide_client.go
  go/api/response_handlers.go
  go/integTest/standalone_commands_test.go
  go/src/lib.rs
Labels: go

#2782 Update changelog after release
  CHANGELOG.md
Labels: docs

#2648 Fix license header in core files
  benchmarks/rust/src/main.rs
  csharp/lib/src/lib.rs
  glide-core/benches/connections_benchmark.rs
  glide-core/benches/memory_benchmark.rs
  glide-core/benches/rotating_buffer_benchmark.rs
  glide-core/build.rs
  glide-core/src/client/mod.rs
  glide-core/src/client/reconnecting_connection.rs
  glide-core/src/client/standalone_client.rs
  glide-core/src/client/types.rs
  glide-core/src/client/value_conversion.rs
  glide-core/src/cluster_scan_container.rs
  glide-core/src/errors.rs
  glide-core/src/lib.rs
  glide-core/src/request_type.rs
  glide-core/src/retry_strategies.rs
  glide-core/src/rotating_buffer.rs
  glide-core/src/scripts_container.rs
  glide-core/src/socket_listener.rs
  glide-core/tests/test_client.rs
  glide-core/tests/test_cluster_client.rs
  glide-core/tests/test_socket_listener.rs
  glide-core/tests/test_standalone_client.rs
  glide-core/tests/utilities/cluster.rs
  glide-core/tests/utilities/mocks.rs
  glide-core/tests/utilities/mod.rs
  go/src/lib.rs
  java/src/errors.rs
  java/src/ffi_test.rs
  java/src/lib.rs
  node/rust-client/build.rs
  node/rust-client/src/lib.rs
  python/src/lib.rs
Labels: Rust core

#2777 Java: bump `netty` version
  CHANGELOG.md
  java/client/build.gradle
  java/integTest/build.gradle
Labels: java, dependency, 1_2_1_candidate

#2561 [backport to 1.2] Bump protoc
  .github/workflows/java-cd.yml
  .github/workflows/java.yml
  CHANGELOG.md
  java/DEVELOPER.md
  java/client/build.gradle
Labels: java, dependency, 1_2_1_candidate

#2783 Apply linters to submodule
  glide-core/redis-rs/redis/src/cluster.rs
  glide-core/redis-rs/redis/src/cluster_routing.rs
  glide-core/redis-rs/redis/src/cmd.rs
  glide-core/redis-rs/redis/src/commands/cluster_scan.rs
  glide-core/redis-rs/redis/src/connection.rs
  glide-core/redis-rs/redis/src/types.rs
  glide-core/redis-rs/redis/tests/test_async_cluster_connections_logic.rs
  glide-core/redis-rs/redis/tests/test_cluster_async.rs
Labels: Rust core

#2768 Node: Fix modules CI
  node/DEVELOPER.md
  node/package.json
Labels: node, CI/CD

#2615 Adding node modules in examples app
  examples/node/json_example.ts
  examples/node/package.json
  examples/node/vector_search_example.ts
Labels: node, docs

#2788 [Backport]Update changelog after release
  CHANGELOG.md
Labels: docs

#2793 Fix rust CI: bump `idna`.
  glide-core/redis-rs/redis/Cargo.toml
Labels: Rust core, CI/CD

#2597 Merge python requirement files.
  .github/workflows/python.yml
  Makefile
  python/DEVELOPER.md
  python/dev_requirements.txt
  python/requirements.txt
Labels: python

#2763 Node: fix examples in docs
  node/src/server-modules/GlideJson.ts
Labels: node, docs

#2657 Node: fix flaky test
  node/package.json
  node/tests/GlideClient.test.ts
  node/tests/GlideClusterClient.test.ts
Labels: node, testing, Flaky-tests

#2797 [Backport `main`] Apply linters to submodule (#2783)
  glide-core/redis-rs/redis/src/commands/cluster_scan.rs
  glide-core/redis-rs/redis/tests/test_async_cluster_connections_logic.rs
  glide-core/redis-rs/redis/tests/test_cluster_async.rs
Labels: Optimization

#2796 [Backport to `main`] Bump protoc (#2561)
  .github/workflows/java-cd.yml
  .github/workflows/java.yml
  CHANGELOG.md
  java/DEVELOPER.md
  java/client/build.gradle
Labels: java, dependency

#2769 Add Java and Python examples to example app
  examples/java/src/main/java/glide/examples/GlideFtExample.java
  examples/java/src/main/java/glide/examples/GlideJsonExample.java
  examples/python/ft_example.py
  examples/python/json_example.py
Labels: python, java

#2227 Node: fix BITPOS
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: bug, node

#2256 Python: bitpos valkey8
  CHANGELOG.md
  python/python/glide/async_commands/bitmap.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#2800 Protobuf: bump to 29.1
  .github/workflows/java-cd.yml
  .github/workflows/java.yml
  CHANGELOG.md
  java/DEVELOPER.md
  java/client/build.gradle
Labels: java

#2716 Python: Add API test to check for exported symbols
  python/python/tests/test_api_export.py
Labels: python

#2637 Java: fix type assertions
  java/client/src/test/java/glide/ExceptionHandlingTests.java
  java/client/src/test/java/glide/connection/ConnectionWithGlideMockTests.java
  java/client/src/test/java/glide/ffi/FfiTest.java
  java/client/src/test/java/glide/managers/CommandManagerTest.java
  java/client/src/test/java/glide/managers/ConnectionManagerTest.java
  java/integTest/src/test/java/glide/ErrorHandlingTests.java
  java/integTest/src/test/java/glide/SharedClientTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterClientTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/StandaloneClientTests.java
Labels: java, testing

#2193 Node: update transactions binary args returns
  node/tests/GlideClient.test.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/TestUtilities.ts
Labels: node

#2795 [Backport `main`] Java: bump `netty` version (#2777)
  CHANGELOG.md
  java/client/build.gradle
  java/integTest/build.gradle
Labels: java, dependency

#2779 Go: add command SInterStore
  CHANGELOG.md
  go/api/base_client.go
  go/api/set_commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2738 Go: Implement Exists, Expire related commands and TTL commands
  go/api/base_client.go
  go/api/command_options.go
  go/api/commands.go
  go/api/generic_commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2805 Go: implement SUnionStore
  CHANGELOG.md
  go/api/base_client.go
  go/api/set_commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2787 Go: add SUnion command
  CHANGELOG.md
  go/api/base_client.go
  go/api/set_commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2756 Go: Implement Type, Touch and Unlink commands
  go/api/base_client.go
  go/api/generic_commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2826 Fix node ITs
  node/tests/GlideClusterClient.test.ts
Labels: node, testing

#2824 remove native package references for MacOS x64 architecture
  CHANGELOG.md
  node/npm/glide/index.ts
  node/npm/glide/package.json
Labels: node, 1_2_1_candidate

#2776 Go Implement Rename and Renamenx Command
  go/api/base_client.go
  go/api/generic_commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2789 Go: Add command SSCAN and SMOVE
  CHANGELOG.md
  go/api/base_client.go
  go/api/command_options.go
  go/api/response_handlers.go
  go/api/set_commands.go
  go/integTest/shared_commands_test.go
  go/integTest/test_utils.go
Labels: go

#2803 Go: Add custom command to cluster client
  go/Makefile
  go/api/glide_client.go
  go/api/glide_cluster_client.go
  go/api/response_handlers.go
  go/api/response_types.go
  go/integTest/cluster_commands_test.go
  go/integTest/standalone_commands_test.go
Labels: go

#2784 Fix full matrix CI
  .github/workflows/create-test-matrices/action.yml
Labels: CI/CD

#2801 go: modules CI
  .github/workflows/go.yml
  go/Cargo.toml
  go/DEVELOPER.md
  go/Makefile
  go/integTest/connection_test.go
  go/integTest/glide_test_suite_test.go
  go/integTest/json_module_test.go
  go/integTest/standalone_commands_test.go
  go/integTest/vss_module_test.go
Labels: go, CI/CD

#2813 Go: Add command ZAdd
  CHANGELOG.md
  go/api/base_client.go
  go/api/options/zadd_options.go
  go/api/sorted_set_commands.go
  go/go.mod
  go/integTest/shared_commands_test.go
  go/utils/transform_utils.go
Labels: go

#2814 Core + Py: add allow_non_covered_slots to ClusterScan and related commands
  glide-core/redis-rs/redis/src/cluster_async/mod.rs
  glide-core/redis-rs/redis/src/cluster_slotmap.rs
  glide-core/redis-rs/redis/src/commands/cluster_scan.rs
  glide-core/redis-rs/redis/src/commands/mod.rs
  glide-core/redis-rs/redis/src/lib.rs
  glide-core/redis-rs/redis/tests/test_cluster_scan.rs
  glide-core/src/client/mod.rs
  glide-core/src/protobuf/command_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/glide_client.py
  python/python/tests/conftest.py
  python/python/tests/test_scan.py
  python/python/tests/test_transaction.py
Labels: Feature, All Wrappers issue, 1_2_1_candidate

#2815 Node allow uncovered slots cscan
  CHANGELOG.md
  eslint.config.mjs
  node/DEVELOPER.md
  node/src/Commands.ts
  node/src/GlideClusterClient.ts
  node/tests/ScanTest.test.ts
  node/tests/TestUtilities.ts
  package.json
  utils/TestUtils.ts
Labels: node, Feature

#2353 Update `cluster_manager` script
  csharp/tests/Integration/IntegrationTestBase.cs
  go/integTest/glide_test_suite_test.go
  java/integTest/build.gradle
  utils/cluster_manager.py
Labels: CI/CD

#2850 Go: Add ZPopMin and ZPopMax
  CHANGELOG.md
  go/api/base_client.go
  go/api/response_handlers.go
  go/api/sorted_set_commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2836 GO: Adding Route support
  go/api/base_client.go
  go/api/request_routing_config.go
  go/api/request_routing_config_test.go
  go/src/lib.rs
Labels: go

#2865 Go: Add base scan options for hscan
  go/api/options/base_scan_options.go
Labels: go

#2866 Revert "Go: Add base scan options for hscan"
  go/api/options/base_scan_options.go
Labels: go

#2859 Java: Allow uncovered slots ClusterScan
  CHANGELOG.md
  java/client/src/main/java/glide/api/models/commands/scan/ScanOptions.java
  java/client/src/main/java/glide/managers/CommandManager.java
Labels: java, 1_2_1_candidate

#2852 Fixed imported exception names in python examples
  examples/python/cluster_example.py
  examples/python/ft_example.py
  examples/python/json_example.py
  examples/python/standalone_example.py
Labels: python, docs

#2823 Add connection timeout configuration
  CHANGELOG.md
  glide-core/redis-rs/redis/src/client.rs
  glide-core/redis-rs/redis/src/cluster_async/connections_logic.rs
  glide-core/redis-rs/redis/src/cluster_async/mod.rs
  glide-core/redis-rs/redis/src/cluster_routing.rs
  glide-core/src/client/mod.rs
  glide-core/src/client/reconnecting_connection.rs
  glide-core/src/client/standalone_client.rs
  glide-core/src/client/types.rs
  glide-core/src/protobuf/connection_request.proto
  java/client/src/main/java/glide/api/models/configuration/AdvancedBaseClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/AdvancedGlideClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/AdvancedGlideClusterClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/BaseClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/GlideClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/GlideClusterClientConfiguration.java
  java/client/src/main/java/glide/managers/ConnectionManager.java
  java/integTest/src/test/java/glide/ConnectionTests.java
  node/npm/glide/index.ts
  node/rust-client/src/lib.rs
  node/src/BaseClient.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/tests/GlideClient.test.ts
  node/tests/GlideClusterClient.test.ts
  python/python/glide/__init__.py
  python/python/glide/config.py
  python/python/tests/conftest.py
  python/python/tests/test_async_client.py
  python/python/tests/test_config.py
  python/python/tests/test_pubsub.py
  python/python/tests/test_read_from_strategy.py
  python/python/tests/test_transaction.py
  utils/cluster_manager.py
Labels: python, node, java, go, Rust core, testing, Core changes, Users Pain, User issue, 1_2_1_candidate

#2843 Go: `XADD`
  go/api/base_client.go
  go/api/command_options.go
  go/api/options/stream_options.go
  go/api/stream_commands.go
  go/integTest/glide_test_suite_test.go
  go/integTest/shared_commands_test.go
Labels: go

#2887 CD fixes nedded for Release 1.2.1
  .github/workflows/java-cd.yml
  .github/workflows/npm-cd.yml
  .github/workflows/pypi-cd.yml
Labels: CI/CD, 1_2_1_candidate

#2880 Go: `ZREM`.
  go/api/base_client.go
  go/api/sorted_set_commands.go
  go/integTest/shared_commands_test.go
Labels: go

#2822 Go: Implement Pfadd, Pfcount and Select commands
  go/api/base_client.go
  go/api/glide_client.go
  go/api/hyperloglog_commands.go
  go/integTest/shared_commands_test.go
  go/integTest/standalone_commands_test.go
Labels: go

#2896 Java: Add binary version of ZRANK WITHSCORE
  CHANGELOG.md
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/test/java/glide/api/GlideClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java
