Repository valkey-io/valkey-glide, pull requests merged in 2024-05, with the labels that each got.

#1356 Java: Add command `Geoadd`. (Geospatial Indices Command Group)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GeospatialIndicesBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/ConditionalChange.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoAddOptions.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeospatialData.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/main/java/module-info.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  package.json
Labels: java

#1343 Custom Command: Include reference link to the Wiki section detailing limitations and restrictions.
  java/client/src/main/java/glide/api/commands/GenericClusterCommands.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  node/src/RedisClient.ts
  node/src/RedisClusterClient.ts
  node/src/Transaction.ts
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
Labels: docs

#1334 Python: add HRANDFIELD command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1357 Python: add ZMSCORE command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1338 Java: Updated `ZUnion` command.
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/WeightAggregateOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1321 fixed developer.md node v specifation
  node/DEVELOPER.md
Labels: node, docs

#1320 Python: adds XADD, XTRIM commands
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1371 Java: Add Netty epoll transport for ARM Linux
  java/client/build.gradle
Labels: java

#1376 Core: Fix clippy linting error
  glide-core/tests/utilities/cluster.rs
Labels: Rust core

#1377 Python: add ZRANGESTORE command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/sorted_set.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1223 Node - Added BLPOP command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1299 Node: convert Set commands return type to Set
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/RedisClient.ts
  node/src/RedisClusterClient.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  python/python/glide/async_commands/core.py
Labels: node

#1362 Java: Add `BZPOPMIN` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1289 Update docs for `LPUSHX` and `RPUSHX`
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  node/src/BaseClient.ts
  node/src/Transaction.ts
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
Labels: python, java, docs

#1368 Java: Add `FLUSHALL` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/FlushMode.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1389 Node: add missing exports to index file
  node/npm/glide/index.ts
Labels: node

#1378 Python: add ZDIFFSTORE command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1290 Java: Add `ZUNIONSTORE` command. (Sorted Set Group) (#210)
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/WeightAggregateOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1394 Java: Add command `GEOPOS`
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GeospatialIndicesBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1284 Java: Update transaction handling and IT
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/managers/CommandManagerTest.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java, testing

#1238 Java: Add `Zrandmember` command. (Sorted Set Commands)
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1387 Proto: Rename in `RequestType` enum according to Feng-Shui.
  csharp/lib/AsyncClient.cs
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  glide-core/src/rotating_buffer.rs
  glide-core/tests/test_socket_listener.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/ZAddOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClientInternals.test.ts
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_proto_coded.py
Labels: protobuf

#1384 Java: Add `BITCOUNT` command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/BitmapBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/bitmap/BitmapIndexType.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1319 Refactor map comparison in Python and Node
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  node/tests/UtilsTests.test.ts
  python/python/glide/constants.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
  python/python/tests/test_utils.py
  python/python/tests/utils/utils.py
Labels: python, node, testing

#1373 Java: Publish JAR to local Maven repository
  java/.gitignore
  java/client/build.gradle
  java/client/src/main/java/glide/ffi/resolvers/NativeUtils.java
  java/client/src/main/java/glide/ffi/resolvers/RedisValueResolver.java
  java/client/src/main/java/glide/ffi/resolvers/ScriptResolver.java
  java/client/src/main/java/glide/ffi/resolvers/SocketListenerResolver.java
  java/examples/build.gradle
  java/gradle.properties
Labels: java, CI

#1390 Java: Add `BZMPOP` command
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/ScoreFilter.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1401 Python: add ZDIFF command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1402 JAVA: Add command GEODIST (#272)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GeospatialIndicesBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/geospatial/GeoUnit.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1396 Java: Re-enable OBJECT command ClusterTransactionTests
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
Labels: java, testing

#1399 Python: add BZPOPMIN and BZPOPMAX commands
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1388 Python: Added ZINTERSTORE and ZUNIONSTORE commands
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/sorted_set.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1405 Python: update map comparisons to use compare_maps function
  python/python/tests/test_async_client.py
Labels: python, testing

#1413 Python: add ZRANDMEMBER command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1414 Java: Add command `GEOHASH`
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GeospatialIndicesBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1391 Add missing doc and tests for multi-key commands
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/HyperLogLogBaseCommands.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  node/src/BaseClient.ts
  node/tests/RedisClusterClient.test.ts
  python/python/glide/async_commands/core.py
  python/python/tests/test_async_client.py
Labels: python, node, java, docs, testing

#1424 Node: Hotfix for #1391 - resolving conflict with #1419.
  node/tests/RedisClusterClient.test.ts
Labels: node, testing

#1412 Python: add BZMPOP command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/sorted_set.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1418 Python: add ZINTERCARD command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1417 Python: add ZMPOP command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1421 Python: add SMOVE command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1423 Python: add SUNIONSTORE command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1379 Adding support for node:alpine
  .github/workflows/build-node-wrapper/action.yml
  .github/workflows/install-rust-and-protoc/action.yml
  .github/workflows/install-shared-dependencies/action.yml
  .github/workflows/lint-rust/action.yml
  .github/workflows/node-create-package-file/action.yml
  .github/workflows/node.yml
  .github/workflows/npm-cd.yml
  .github/workflows/rust.yml
  .github/workflows/setup-musl-on-linux/action.yml
  CHANGELOG.md
  node/npm/glide/index.ts
  node/npm/glide/package.json
Labels: node, Feature, CI, Platforms

#1407 Added check if tag include rc init, if so release as @next
  .github/workflows/npm-cd.yml
Labels: python, node, Feature, CI, testing, tools

#1408 Java: Add `SETBIT` command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/BitmapBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1420 Java: Add `ZINTERCARD` command.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1434 Python: add SINTER command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1441 Java: Update transaction IT.
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java, testing

#1400 Java: Add `GETBIT` command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/BitmapBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/bitmap/BitmapIndexType.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1437 Python: add SDIFF command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1433 Java: Add `ZINTER` command.
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/WeightAggregateOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1425 Java: Add `FUNCTION LOAD` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/function/FunctionLoadOptions.java
  java/client/src/main/java/module-info.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1449 Python: add SDIFFSTORE command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1445 Java: Add `BITPOS` command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/BitmapBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1446 Java: APPEND
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1442 Java: Add `ZMPOP` command.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/ScoreFilter.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1454 changing sleep duration for ObjectIdletime Test
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java, testing

#1455 Java: Add `HRANDFIELD` command.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1460 Java: Add `ZINCRBY` command.
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1458 Java: Add `BITOP` command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/BitmapBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/bitmap/BitwiseOperation.java
  java/client/src/main/java/module-info.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1453 Python: Add SETRANGE command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1457 Java: Adding command `LMPOP` (#292)
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/PopDirection.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1463 Java: Add `HSTRLEN` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1462 Java: Add `EXPIRETIME` and `PEXPIRETIME` commands.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1411 NODE - test release candidate
  .github/workflows/npm-cd.yml
  .gitignore
  node/package.json
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/RedisModules.test.ts
  node/tests/TestUtilities.ts
  utils/TestUtils.ts
  utils/package.json
  utils/release-candidate-testing/node/index.js
  utils/release-candidate-testing/node/package.json
  utils/tsconfig.json
Labels: node, Feature, CI, testing

#1466 Python: added zremrangebyrank
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1471 Python: add OBJECT ENCODING command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1464 Java: Add command `BLMPOP`
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1472 Python: add OBJECT FREQ command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1473 Java: moving the Appends command
  java/client/src/main/java/glide/api/models/BaseTransaction.java
Labels: java

#1474 Python: add OBJECT IDLETIME command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1481 Java: add RENAME command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1475 Add command `LSET`
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1483 Node: Added RENAMENX command
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1490 Java: add `XDEL` command (#318)
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1485 Python: add OBJECT REFCOUNT command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1492 Python: add RENAMENX command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1493 Python: add PFCOUNT command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1491 Java: Adding command `LMove`
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/ListDirection.java
  java/client/src/main/java/glide/api/models/commands/PopDirection.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1476 Add SMOVE command for node
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1497 Python: add PFMERGE command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1500 Node: Add `SINTER` command for node
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1498 Java: Adding command `BLMove`
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1509 Python: add LASTSAVE command
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1506 Java: add GETDEL command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1503 Python: add XLEN command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1504 Java: Adding command `SRandMember`
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1501 Java: Add the XRANGE command
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamRange.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java
