Repository valkey-io/valkey-glide, pull requests merged in 2024-09, with the labels that each got.

#2216 hvals decoder options updated
  node/src/BaseClient.ts
  node/tests/SharedTests.ts
Labels: node

#2223 CI: Update pypi workflow
  .github/workflows/pypi-cd.yml
Labels: python, CI

#2222 Node: Add Binary support for stream commands, part 2
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
Labels: node

#2210 Node: Add binary variant to sorted set commands - part 2.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
Labels: node

#2174 Add NOSCORES option to ZSCAN & NOVALUES option to HSCAN
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/scan/HScanOptions.java
  java/client/src/main/java/glide/api/models/commands/scan/HScanOptionsBinary.java
  java/client/src/main/java/glide/api/models/commands/scan/ZScanOptions.java
  java/client/src/main/java/glide/api/models/commands/scan/ZScanOptionsBinary.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python, node, java

#2235 Ignore proc-macro-error lint failure
  .github/workflows/rust.yml
  deny.toml
  glide-core/tests/utilities/mod.rs
Labels: Rust core, CI

#2228 Go: Implementing GETDEL command
  go/api/base_client.go
  go/api/commands.go
  go/api/response_handlers.go
  go/integTest/shared_commands_test.go
Labels: go

#2240 Node: Add binary support for HSCAN
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
Labels: node

#2229 Node: add binary support for mset, msetnx
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
Labels: node

#2234 Node: replace `decoder` by `DecoderOption` and `route` by `RouteOption` in API
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/tests/GlideClient.test.ts
  node/tests/GlideClientInternals.test.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/SharedTests.ts
Labels: node

#2247 updated npm packges to remove non supported and memory leaking pac
  .eslintignore
  .eslintrc.cjs
  .github/workflows/lint-ts.yml
  .github/workflows/lint-ts/action.yml
  eslint.config.mjs
  node/DEVELOPER.md
  node/THIRD_PARTY_LICENSES_NODE
  node/hybrid-node-tests/commonjs-test/commonjs-test.cjs
  node/npm/glide/index.ts
  node/package.json
  node/rust-client/package.json
Labels: bug, node, dependency

#2242 Node: Update client info.
  CHANGELOG.md
  node/package.json
Labels: node

#2128 Java: Update workflow to zip bundle files and use build-matrix.json
  .github/json_matrices/build-matrix.json
  .github/workflows/java-cd.yml
  CHANGELOG.md
  java/benchmarks/build.gradle
  java/build.gradle
Labels: java, CI

#2214 Rename `stop` to `end` in sorted set query.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/sorted_set.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python, node

#2248 Valkey-8: change bitcount end param to optional
  CHANGELOG.md
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/BitmapBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/GlideClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  python/python/glide/async_commands/bitmap.py
  python/python/glide/async_commands/core.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python, node, java, Valkey-8

#2186 add CodeQL configuration
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Labels: CI

#2208 Python: Add Script commands
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/command_request.proto
  glide-core/src/request_type.rs
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/tests/test_async_client.py
  python/python/tests/utils/utils.py
Labels: python

#2207 Node: update commands which return a `Record` with `GlideString`.
  CHANGELOG.md
  node/npm/glide/index.ts
  node/rust-client/src/lib.rs
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/GlideClient.test.ts
  node/tests/GlideClientInternals.test.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/PubSub.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2269 Remove get server version code
  java/integTest/build.gradle
Labels: java

#2218 Go: Implementing string commands
  go/api/base_client.go
  go/api/commands.go
  go/api/response_handlers.go
  go/integTest/shared_commands_test.go
  go/src/lib.rs
  go/utils/transform_utils.go
Labels: go

#2272 Node: Fix linter config.
  CHANGELOG.md
  eslint.config.mjs
  node/.prettierignore
  node/DEVELOPER.md
  node/package.json
  package.json
Labels: node

#2274 Java: update `INFO` command
  CHANGELOG.md
  java/client/src/main/java/glide/api/GlideClient.java
  java/client/src/main/java/glide/api/GlideClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/InfoOptions.java
  java/client/src/test/java/glide/api/GlideClientTest.java
  java/client/src/test/java/glide/api/GlideClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java, breaking

#2260 Node: Rename instances of Redis to Valkey
  CHANGELOG.md
  node/npm/glide/index.ts
  node/npm/glide/package.json
  node/rust-client/package.json
  node/rust-client/src/lib.rs
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Errors.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/GlideClient.test.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/PubSub.test.ts
  node/tests/SharedTests.ts
  utils/TestUtils.ts
Labels: node

#2267 Node: Add SCRIPT commands
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/tests/GlideClient.test.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2268 Java: Replace instances of Redis with Valkey
  CHANGELOG.md
  java/benchmarks/src/main/java/glide/benchmarks/BenchmarkingApp.java
  java/benchmarks/src/main/java/glide/benchmarks/clients/AsyncClient.java
  java/benchmarks/src/main/java/glide/benchmarks/clients/Client.java
  java/benchmarks/src/main/java/glide/benchmarks/clients/SyncClient.java
  java/benchmarks/src/main/java/glide/benchmarks/utils/ConnectionSettings.java
  java/client/src/main/java/glide/api/models/commands/scan/ZScanOptionsBinary.java
  java/client/src/test/java/glide/ffi/FfiTest.java
  java/src/ffi_test.rs
  java/src/lib.rs
Labels: java

#2266 Python: Replace instances of Redis with Valkey
  CHANGELOG.md
  python/DEVELOPER.md
  python/python/glide/glide_client.py
  python/python/tests/conftest.py
  python/python/tests/test_async_client.py
  python/python/tests/test_pubsub.py
  python/python/tests/utils/cluster.py
  python/src/lib.rs
Labels: python

#2271 Java: Fix byte GlideString conversion to String bug
  CHANGELOG.md
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: bug, java

#2265 Java: Add PUBSUB SHARDCHANNELS command
  CHANGELOG.md
  java/client/src/main/java/glide/api/GlideClusterClient.java
  java/client/src/main/java/glide/api/commands/PubSubClusterCommands.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/test/java/glide/api/GlideClusterClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/PubSubTests.java
Labels: java

#2279 Java: add PUBSUB SHARDNUMSUB
  CHANGELOG.md
  java/client/src/main/java/glide/api/GlideClusterClient.java
  java/client/src/main/java/glide/api/commands/PubSubClusterCommands.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/test/java/glide/api/GlideClusterClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/PubSubTests.java
Labels: java

#2171 Add SCRIPT SHOW command
  glide-core/src/protobuf/command_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsBaseCommands.java
  java/client/src/test/java/glide/api/GlideClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClusterClient.ts
  node/tests/SharedTests.ts
  python/python/glide/async_commands/core.py
  python/python/tests/test_async_client.py
Labels: python, Release blocker, node, java, Valkey-8

#2252 Valkey-8: add BY/GET support for SORT/RO in cluster mode
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/GlideClient.java
  java/client/src/main/java/glide/api/GlideClusterClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/GenericClusterCommands.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/main/java/glide/api/models/commands/SortBaseOptions.java
  java/client/src/main/java/glide/api/models/commands/SortClusterOptions.java
  java/client/src/main/java/glide/api/models/commands/SortOptions.java
  java/client/src/main/java/glide/api/models/commands/SortOptionsBinary.java
  java/client/src/test/java/glide/api/GlideClusterClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/GlideClient.test.ts
  node/tests/SharedTests.ts
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python, Release blocker, node, java, Valkey-8

#2281 Update changelog with Valkey 8 features
  CHANGELOG.md
Labels: Valkey-8

#2257 implementation of cluster scan
  CHANGELOG.md
  node/index.ts
  node/rust-client/src/lib.rs
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/tests/ScanTest.test.ts
Labels: Release blocker, node

#2283 Java: Add script show unit test for basic strings
  java/client/src/test/java/glide/api/GlideClientTest.java
Labels: java, testing

#2284 Node: Add `invokeScript` for cluster client.
  CHANGELOG.md
  node/npm/glide/index.ts
  node/src/BaseClient.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/tests/GlideClusterClient.test.ts
Labels: node

#2276 Get valkey/redis version using client's info command
  CHANGELOG.md
  node/tests/GlideClient.test.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/PubSub.test.ts
  node/tests/ScanTest.test.ts
  node/tests/TestUtilities.ts
  utils/TestUtils.ts
Labels: node, testing

#2286 Java: Expanded tests for converting non UTF-8 bytes to Strings
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java

#2290 fix scan tests
  node/package.json
  node/tests/ScanTest.test.ts
Labels: node, testing

#2287 Node: Use `options` for options.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/GlideClient.ts
  node/src/GlideClusterClient.ts
  node/src/Transaction.ts
  node/tests/GlideClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#2292 remove packges not in use
  node/package.json
Labels: node, dependency

#2285 Java: Create Workflow to deploy artifacts for all platforms mentioned in build.matrix.json
  .github/workflows/java-cd.yml
  CHANGELOG.md
  java/benchmarks/build.gradle
Labels: CI

#2288 Go:Fix benchmarking code and improve response side performance
  go/benchmarks/benchmarking.go
  go/src/lib.rs
Labels: go

#2304 Replace google-api-python-client by protobuf
  CHANGELOG.md
  python/pyproject.toml
  python/requirements.txt
Labels: python

#2302 Python: fix CD
  .github/workflows/install-shared-dependencies/action.yml
  .github/workflows/pypi-cd.yml
  .github/workflows/python.yml
Labels: python, Release blocker, CI

#2300 Java: fix pubsub IT for valkey 8
  java/integTest/src/test/java/glide/PubSubTests.java
Labels: Release blocker, java, testing, Valkey-8

#2301 Node: Fixed missing exports
  CHANGELOG.md
  examples/node/index.ts
  examples/node/package.json
  node/npm/glide/index.ts
  node/src/Logger.ts
Labels: Release blocker, node

#2289 Go: Handling generic arrays instead of only string arrays
  go/api/response_handlers.go
  go/src/lib.rs
Labels: go

#2303 Go: Adding the generic map handler and config set, get commands for standalone.
  go/.gitignore
  go/api/base_client.go
  go/api/glide_client.go
  go/api/response_handlers.go
  go/integTest/glide_test_suite_test.go
  go/integTest/standalone_commands_test.go
  go/src/lib.rs
  go/utils/transform_utils.go
Labels: go

#2317 Node: fix pubsub IT
  node/tests/PubSub.test.ts
Labels: Release blocker, node, testing, Valkey-8

#2296 Update Valkey version to 8.0.0 in test matrix and version checks
  .github/json_matrices/engine-matrix.json
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: Release blocker, Valkey-8

#2324 Node: fix xinfogroups; fix lrem
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
Labels: Release blocker, node

#2319 Java: fix CI job for testing Maven Deployment
  .github/workflows/java-cd.yml
Labels: Release blocker, java, CI

#2326 Java : Fix ExamplesApp
  examples/java/src/main/java/glide/examples/ClusterExample.java
Labels: java

#2226 Go: Implementing Hash commands
  go/api/base_client.go
  go/api/commands.go
  go/api/glide_client.go
  go/api/response_handlers.go
  go/integTest/shared_commands_test.go
  go/utils/transform_utils.go
  go/utils/transform_utils_test.go
Labels: go

#2346 Node: fix docs
  README.md
  csharp/README.md
  examples/node/index.ts
  java/client/build.gradle
  node/README.md
  node/npm/glide/package.json
  node/package.json
Labels: Release blocker, docs

#2310 Go: Check the response type sent from rust in Go
  go/api/base_client.go
  go/api/commands.go
  go/api/glide_client.go
  go/api/response_handlers.go
  go/api/response_types.go
  go/benchmarks/glide_benchmark_client.go
  go/examples/main.go
  go/integTest/glide_test_suite_test.go
  go/integTest/shared_commands_test.go
  go/integTest/standalone_commands_test.go
  go/src/lib.rs
Labels: go

#2357 Node: add node cluster mode and standalone examples
  examples/node/cluster_example.ts
  examples/node/standalone_example.ts
  examples/python/cluster_example.py
  package.json
Labels: node, docs
