Repository valkey-io/valkey-glide, pull requests merged in 2024-02, with the labels that each got.

#864 Add java cluster client, request routes configuration and support for bulk response
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ClusterBaseCommands.java
  java/client/src/main/java/glide/api/models/ClusterValue.java
  java/client/src/main/java/glide/api/models/configuration/RequestRoutingConfiguration.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/main/java/glide/managers/models/Command.java
  java/client/src/test/java/glide/api/RedisClientCreateTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/ClusterValueTests.java
  java/client/src/test/java/glide/managers/CommandManagerTest.java
  java/integTest/src/test/java/glide/ConnectionTests.java
  java/integTest/src/test/java/glide/TestConfiguration.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#865 Java client: update error handling
  java/client/src/main/java/glide/connectors/handlers/CallbackDispatcher.java
  java/client/src/main/java/glide/connectors/handlers/ChannelHandler.java
  java/client/src/main/java/glide/managers/BaseCommandResponseResolver.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/main/java/glide/managers/ConnectionManager.java
  java/client/src/test/java/glide/ExceptionHandlingTests.java
  java/client/src/test/java/glide/managers/CommandManagerTest.java
  java/client/src/test/java/glide/managers/ConnectionManagerTest.java
  java/integTest/src/test/java/glide/ErrorHandlingTests.java
Labels: java

#860 Added Script API in python.
  node/src/BaseClient.ts
  python/python/glide/__init__.py
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/glide.pyi
  python/python/glide/redis_client.py
  python/python/tests/test_async_client.py
  python/src/lib.rs
Labels: python

#877 Python: adds ZSCORE command
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#891 Fix connection flakyness in java client
  java/client/src/main/java/glide/connectors/handlers/ChannelHandler.java
Labels: java

#861 Implementing Customizable Event Loop Groups and Domain Socket Channels for Netty Channel Configuration
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/models/configuration/BaseClientConfiguration.java
  java/client/src/main/java/glide/connectors/handlers/ChannelHandler.java
  java/client/src/main/java/glide/connectors/resources/EpollResource.java
  java/client/src/main/java/glide/connectors/resources/KQueuePoolResource.java
  java/client/src/main/java/glide/connectors/resources/Platform.java
  java/client/src/main/java/glide/connectors/resources/ThreadPoolAllocator.java
  java/client/src/main/java/glide/connectors/resources/ThreadPoolResource.java
  java/client/src/main/java/glide/connectors/resources/ThreadPoolResourceAllocator.java
  java/client/src/test/java/glide/ExceptionHandlingTests.java
  java/client/src/test/java/glide/api/RedisClientCreateTest.java
  java/client/src/test/java/glide/connectors/resources/ThreadPoolResourceAllocatorTest.java
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/CustomThreadPoolResourceTest.java
Labels: java

#878 Python: adds ZCOUNT command
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#893 Add IT with ping for java cluster client.
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#914 Java: Add PING command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementCommands.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#919 Java: Add GET & SET commands
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringCommands.java
  java/client/src/main/java/glide/api/models/commands/SetOptions.java
  java/client/src/main/java/glide/managers/BaseCommandResponseResolver.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#899 Added ORT workflow
  .github/workflows/ort.yml
  .github/workflows/run-ort-tools/action.yml
Labels: CI

#912 Rust: modify sorted set command types to RESP3
  glide-core/src/client/mod.rs
  glide-core/src/client/value_conversion.rs
Labels: Rust core

#920 Java: Add INFO() commands to java client
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/commands/InfoOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/TestConfiguration.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#895 Java: Add transaction commands
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/GenericClusterCommands.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/client/src/test/java/glide/managers/CommandManagerTest.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#948 Fix ORT CI
  .github/workflows/ort.yml
Labels: CI

#944 Python: adds HLEN command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#889 Added zscore command in node.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#952 C#: enable net8.0 tests
  .github/workflows/csharp.yml
  benchmarks/install_and_test.sh
Labels: C#

#909 Added zcount command in node.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#964 fix commands doc in python
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
Labels: python, docs

#946 Go: Add CI
  .github/workflows/go.yml
  go/.cargo/config.toml
  go/.gitignore
  go/Cargo.toml
  go/Makefile
  go/glide/glide.go
  go/go.mod
  go/go.sum
  go/src/lib.rs
  go/tests/glide_test.go
  go/tools.go
Labels: go, CI

#928 Java: Add @NonNull annotation to constructors and generic functions
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
Labels: java

#966 Fix java IT for linter
  .github/workflows/java.yml
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java, CI

#973 Improve readability of transaction test
  node/tests/TestUtilities.ts
  python/python/tests/test_transaction.py
Labels: python, node

#967 Update documentation for `CONFIG GET` command.
  node/src/RedisClusterClient.ts
  python/python/glide/async_commands/cluster_commands.py
Labels: python, node, docs

#960 Java: fix javadoc and cluster implemetation for `INFO` command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java, docs

#953 Python: adds ECHO command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#975 Python: adds ZPOPMIN command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#956 Java: Added Incr, IncrBy and IncrByFloat commands to BaseClient and BaseTransaction. (String Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
Labels: java

#957 Java: Added Decr and DecrBy to BaseClient and BaseTransaction. (String Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
Labels: java

#959 Java: Added Hget, Hset and Hdel to BaseClient and BaseTransaction. (Hash Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#962 Java: Add EXISTS() command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/GenericClusterCommands.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#996 Python: adds ZPOPMAX command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1008 Node: added zpopmin command.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#983 Java: consolidate transaction tests into a single tests run
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
Labels: java

#971 Core: Add support to route by address.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  glide-core/tests/test_socket_listener.rs
Labels: Rust core

#998 Add initial stream commands to protobuf.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
Labels: Rust core

#1015 Java: Added Hmget command for BaseClient and BaseTransaction (Hash Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1016 Java: Added Hexists command for BaseClient and BaseTransaction (Hash Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1017 Java: Added Hgetall command for BaseClient and BaseTransaction (Hash Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1012 Java: Added Hincrby and HincrbyFloat BaseClient and BaseTransaction (Hash Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#976 Java: Add `UNLINK()` command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#984 Java: Add `SELECT()` command for standalone
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/Transaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/StandaloneTransactionTests.java
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java

#1026 Python: remove duplicated line from info test
  python/python/tests/test_async_client.py
Labels: python

#1021 Node: enable routing by node address.
  CHANGELOG.md
  node/src/RedisClusterClient.ts
  node/tests/RedisClusterClient.test.ts
Labels: node

#1029 Java: Move ping() commands out of baseclient
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementCommands.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1031 Added Lpush, Lpop and LpopCount Commands. (List Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1034 Added Rpush, Rpop and RpopCount Commands. (List Commands) (#107)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#978 Update jedis sync client with thread pooling
  java/benchmarks/src/main/java/glide/benchmarks/clients/jedis/JedisClient.java
Labels: java

#949 Java: Add UDS read/write error handling and tests with glide core mock
  java/client/src/main/java/glide/connectors/handlers/ChannelHandler.java
  java/client/src/main/java/glide/connectors/handlers/ReadHandler.java
  java/client/src/test/java/glide/connection/ConnectionWithGlideMockTests.java
  java/client/src/test/java/glide/utils/RustCoreLibMockTestBase.java
  java/client/src/test/java/glide/utils/RustCoreMock.java
Labels: java

#1025 Node: allow standalone tests to use cluster_manager.py script
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/RedisModules.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#954 Python: adds HSETNX command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#972 Python: adds SISMEMBER command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1044 C#: rework CI to run tests and minimal benchmark (#108)
  .github/workflows/csharp.yml
  .github/workflows/install-shared-dependencies/action.yml
  csharp/.gitignore
Labels: C#, CI

#1045 Update docs for C# client (#111)
  csharp/DEVELOPER.md
  csharp/README.md
Labels: C#, docs

#1033 Java: Add `expire`, `expireAt`, `pexpire`, `pexpireAt` and `ttl` commands.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/ExpireOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java
