Repository valkey-io/valkey-glide, pull requests merged in 2024-01, with the labels that each got.

#796 Update CI for java client
  .github/workflows/java-benchmark.yml
  .github/workflows/java.yml
  java/benchmarks/build.gradle
  java/build.gradle
Labels: java, CI

#804 Java: Support most RESP3 types
  java/client/build.gradle
  java/client/src/test/java/glide/ffi/FfiTest.java
  java/src/ffi_test.rs
  java/src/lib.rs
Labels: java

#838 Java client: Fix how UDS connection established
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/connectors/handlers/ChannelHandler.java
Labels: java

#837 Java - Add custom command interface; and BaseCommands
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/commands/BaseCommands.java
  java/client/src/main/java/glide/managers/BaseCommandResponseResolver.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/main/java/glide/managers/RedisExceptionCheckedFunction.java
  java/client/src/main/java/glide/managers/models/Command.java
  java/client/src/main/java/glide/models/RequestBuilder.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/managers/CommandManagerTest.java
Labels: java

#881 Fix transaction doc to fit RESP3
  node/src/Transaction.ts
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_transaction.py
Labels: python, node

#863 Java: Add IT framework
  .github/workflows/java.yml
  java/client/build.gradle
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/CommandTests.java
  java/integTest/src/test/java/glide/ConnectionTests.java
  java/integTest/src/test/java/glide/TestConfiguration.java
  java/integTest/src/test/resources/junit-platform.properties
  utils/cluster_manager.py
Labels: java, CI

#876 Update javadoc
  java/client/src/main/java/glide/api/commands/BaseCommands.java
  java/client/src/main/java/glide/connectors/handlers/ChannelHandler.java
Labels: java

#875 Update unit tests for java client
  java/client/src/test/java/glide/api/RedisClientCreateTest.java
  java/client/src/test/java/glide/managers/CommandManagerTest.java
  java/client/src/test/java/glide/managers/ConnectionManagerTest.java
Labels: java
