Repository valkey-io/valkey-glide, pull requests merged in 2024-03, with the labels that each got.

#1049 Java: Added clientName field to configuration. (#117)
  java/client/src/main/java/glide/api/models/configuration/BaseClientConfiguration.java
  java/client/src/main/java/glide/managers/ConnectionManager.java
  java/client/src/test/java/glide/managers/ConnectionManagerTest.java
  java/integTest/src/test/java/glide/cluster/ClientTest.java
  java/integTest/src/test/java/glide/standalone/ClientTest.java
Labels: java

#906 Python: adds ZRANGE command
  CHANGELOG.md
  python/python/glide/__init__.py
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/sorted_set.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1051 fix changelog changes and features for 0.2.0
  CHANGELOG.md
Labels: docs

#1054 Add DEVELOPER.md for Go
  go/DEVELOPER.md
Labels: go

#1055 Improve Go CI and Makefile targets
  .github/workflows/go.yml
  go/Makefile
  go/go.mod
  go/go.sum
  go/tools.go
Labels: go, CI

#1041 Java: Add LRange and LTrim commands. (List Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1042 Java: Add LLen command. (List Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1014 Add `CLIENT ID` and `CLIENT GETNAME` commands.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1074 Java: Refactor channel closure handling (#118)
  java/client/src/main/java/glide/connectors/handlers/CallbackDispatcher.java
  java/client/src/main/java/glide/connectors/handlers/ChannelHandler.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/test/java/glide/connection/ConnectionWithGlideMockTests.java
  java/client/src/test/java/glide/managers/CommandManagerTest.java
  java/integTest/src/test/java/glide/cluster/ClientTests.java
  java/integTest/src/test/java/glide/standalone/ClientTests.java
Labels: java

#1068 Java: Added examples to documentation for StringCommands. (#120)
  java/client/src/main/java/glide/api/commands/StringCommands.java
Labels: java

#1070 Java: Add examples to missing commands and minor fixes Generic Commands. (#125)
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/commands/GenericClusterCommands.java
  java/client/src/main/java/glide/api/commands/GenericCommands.java
Labels: java

#1013 Add `CONFIG REWRITE` and `CONFIG RESETSTAT`.
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1010 Node: added echo command.
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1022 Node: added hvals command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1036 Python: adds PTTL command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
Labels: python

#1052 Implement Redis client configuration logic
  go/api/config.go
  go/api/config_test.go
  go/glide/glide.go
  go/go.mod
  go/go.sum
  go/tests/glide_test.go
Labels: go

#1038 Python: enable routing by node address.
  CHANGELOG.md
  node/src/RedisClusterClient.ts
  python/python/glide/__init__.py
  python/python/glide/constants.py
  python/python/glide/routes.py
  python/python/tests/test_async_client.py
Labels: python

#1002 Lint all TS files base on our prettier for easier developer life, and added CI prettier step
  .github/workflows/lint-ts.yml
  benchmarks/node/node_benchmark.ts
  benchmarks/node/package.json
  benchmarks/node/tsconfig.json
  benchmarks/utilities/fill_db.ts
  benchmarks/utilities/flush_db.ts
  benchmarks/utilities/package.json
  benchmarks/utilities/tsconfig.json
  benchmarks/utilities/utils.ts
  node/DEVELOPER.md
  node/babel.config.js
  node/npm/glide/index.ts
  node/rust-client/.ort.yml
  node/rust-client/package.json
  node/rust-client/tsconfig.json
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Logger.ts
  node/src/RedisClient.ts
  node/src/RedisClusterClient.ts
  node/src/Transaction.ts
  node/tests/AsyncClient.test.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClientInternals.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/RedisModules.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#924 Add zremRangeByRank command in Node.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1023 Node: added persist command.
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1083 Node: added sismember command.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1079 Java: Stylistic documentation changes for ListBaseCommands. (#128)
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
Labels: java

#1073 Java: Add Lrem command to BaseClient and BaseTransaction. (List commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1030 Configure concurrency for all CI. (#106)
  .github/workflows/csharp.yml
  .github/workflows/go.yml
  .github/workflows/java.yml
  .github/workflows/lint-ts.yml
  .github/workflows/node.yml
  .github/workflows/npm-cd.yml
  .github/workflows/pypi-cd.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
Labels: CI

#1057 Node: Add support for XADD, XTRIM commands.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClientInternals.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1056 Python: adds json module and JSON.SET JSON.GET commands
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/pytest.ini
  python/python/glide/__init__.py
  python/python/glide/async_commands/redis_modules/json.py
  python/python/tests/test_redis_modules.py
  python/python/tests/tests_redis_modules/test_json.py
Labels: python

#1093 Java: Use 3rd party lib for version checking. (#130)
  java/integTest/build.gradle
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TestConfiguration.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#926 Added zremRangeByScore command in Node.
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1091 Node: added hsetnx command.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1048 Java: Add ZADD and ZINCR commands. (Sorted Set Commands) (#115)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/ZaddOptions.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1061 Python: adds LINDEX command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1092 Java: Update benchmarking to use SynchronousQueue (#129)
  benchmarks/install_and_test.sh
  java/benchmarks/src/main/java/glide/benchmarks/utils/Benchmarking.java
Labels: java

#1119 Java: Added Zrem and Zcard commands. (Sorted Set Commands)
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1120 Java: Added Missing Client Tests. (#127)
  java/integTest/src/test/java/glide/SharedClientTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClientTests.java
  java/integTest/src/test/java/glide/cluster/ClusterClientTests.java
  java/integTest/src/test/java/glide/standalone/ClientTests.java
  java/integTest/src/test/java/glide/standalone/StandaloneClientTests.java
Labels: java

#1011 Add `CONFIG GET` and `CONFIG SET` commands.
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1134 Java: Fix flakey test.
  java/integTest/src/test/java/glide/cluster/CommandTests.java
Labels: java

#1085 C#: Deactivate flaky IT.
  csharp/tests/Integration/GetAndSet.cs
Labels: C#

#1133 Node: minor improvements to #1132
  .github/workflows/node.yml
Labels: node

#1130 Python: adds HVALS command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1129 Python: adds PERSIST command
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1065 Python: adds ZRANK command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/glide/constants.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1139 Python: modify json module to use custom_command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/redis_modules/json.py
Labels: python

#1088 Separate connection info from protobuf.
  .github/workflows/lint-rust/action.yml
  .github/workflows/rust.yml
  benchmarks/rust/src/main.rs
  csharp/lib/src/lib.rs
  glide-core/Cargo.toml
  glide-core/benches/memory_benchmark.rs
  glide-core/build.rs
  glide-core/src/client/mod.rs
  glide-core/src/client/reconnecting_connection.rs
  glide-core/src/client/standalone_client.rs
  glide-core/src/client/types.rs
  glide-core/src/lib.rs
  glide-core/src/retry_strategies.rs
  glide-core/src/socket_listener.rs
  glide-core/tests/test_client.rs
  glide-core/tests/test_socket_listener.rs
  glide-core/tests/test_standalone_client.rs
  glide-core/tests/utilities/cluster.rs
  glide-core/tests/utilities/mod.rs
  java/Cargo.toml
  node/rust-client/Cargo.toml
  python/Cargo.toml
Labels: Rust core

#1103 Java: Added documentation examples to ServerManagement group. (#131)
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
Labels: java

#1148 Node: fix `TIME` response type for cme
  node/src/RedisClusterClient.ts
  node/tests/SharedTests.ts
Labels: node

#1040 Python: adds DBSIZE command
  CHANGELOG.md
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python

#1147 Python: adds TIME command
  CHANGELOG.md
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/tests/test_async_client.py
Labels: python

#1135 Go: miscellaneous CI improvements
  .github/workflows/go.yml
  go/Makefile
Labels: go, CI

#1128 CD: Automate the activation of the self hosted runner
  .github/workflows/npm-cd.yml
  .github/workflows/pypi-cd.yml
  .github/workflows/start-self-hosted-runner/action.yml
Labels: CI

#1161 fix black error
  python/python/glide/async_commands/core.py
Labels: python

#1113 Node: Brpop Command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/socket_listener.rs
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#1140 Benchmark: Align Java client names with other wrappers.
  java/benchmarks/src/main/java/glide/benchmarks/clients/glide/GlideAsyncClient.java
  java/benchmarks/src/main/java/glide/benchmarks/clients/jedis/JedisClient.java
  java/benchmarks/src/main/java/glide/benchmarks/clients/lettuce/LettuceAsyncClient.java
Labels: java

#1032 Fix EOL in C# project files (#109)
  .editorconfig
  benchmarks/csharp/.editorconfig
  benchmarks/csharp/csharp_benchmark.csproj
  csharp/.editorconfig
  csharp/csharp.sln
  csharp/lib/glide.csproj
  csharp/tests/tests.csproj
Labels: C#

#1172 Set the versions of external clients to be fixed on the current latest releases.
  benchmarks/node/package.json
  benchmarks/python/requirements.txt
Labels: python, node, benchmark

#1184 Python: adds JSON.TOGGLE command
  CHANGELOG.md
  glide-core/src/client/value_conversion.rs
  python/python/glide/async_commands/redis_modules/json.py
  python/python/glide/constants.py
  python/python/tests/tests_redis_modules/test_json.py
Labels: python

#1141 Add `STRLEN` command.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#1143 Add `ECHO()` command.
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ConnectionManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1156 Java: Add `PTTL()` command
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java

#1155 Java: Add `Time()` command
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#1146 Python: adds JSON.DEL, JSON.FORGET commands
  CHANGELOG.md
  python/python/glide/async_commands/redis_modules/json.py
  python/python/tests/tests_redis_modules/test_json.py
Labels: python
