Repository valkey-io/valkey-glide, pull requests merged in 2025-08, with the labels that each got.

#4564 CORE: resolve clippy warnings and future incompatibility issues
  glide-core/redis-rs/redis/examples/async-await.rs
  glide-core/redis-rs/redis/examples/async-multiplexed.rs
  glide-core/redis-rs/redis/examples/async-pub-sub.rs
  glide-core/redis-rs/redis/examples/async-scan.rs
  glide-core/redis-rs/redis/examples/basic.rs
  glide-core/redis-rs/redis/src/aio/multiplexed_connection.rs
  glide-core/redis-rs/redis/src/cluster.rs
  glide-core/redis-rs/redis/src/cluster_async/connections_logic.rs
  glide-core/redis-rs/redis/src/cluster_async/pipeline_routing.rs
  glide-core/redis-rs/redis/src/cluster_routing.rs
  glide-core/redis-rs/redis/src/commands/macros.rs
  glide-core/redis-rs/redis/tests/test_async.rs
  glide-core/redis-rs/redis/tests/test_cluster_async.rs
  glide-core/src/client/mod.rs
  glide-core/src/client/standalone_client.rs
  glide-core/src/client/value_conversion.rs
  glide-core/tests/test_client.rs
  glide-core/tests/test_standalone_client.rs
  glide-core/tests/utilities/cluster.rs
  glide-core/tests/utilities/mod.rs
Labels: Rust ⚙️

#4507 CORE/FFI/GO - SpanFromContext implementation
  ffi/Cargo.toml
  ffi/miri-tests/Cargo.toml
  ffi/miri-tests/mock-glide-core/src/lib.rs
  ffi/miri-tests/mock-glide-core/src/request_type.rs
  ffi/miri-tests/mock-logger-core/Cargo.toml
  ffi/miri-tests/mock-logger-core/src/lib.rs
  ffi/miri-tests/mock-redis/src/lib.rs
  ffi/miri-tests/mock-telemetry/src/lib.rs
  ffi/miri-tests/tests/ffi_miri_tests.rs
  ffi/src/lib.rs
  ffi/tests/ffi_client_tests.rs
  ffi/tests/test_enhanced_error_handling.rs
  ffi/tests/test_otel_ffi_integration.rs
  glide-core/telemetry/Cargo.toml
  glide-core/telemetry/src/open_telemetry.rs
  go/base_client.go
  go/examples/examples.md
  go/integTest/glide_test_suite_test.go
  go/integTest/opentelemetry_test.go
  go/opentelemetry.go
  go/opentelemetry_examples_test.go
  go/span_context_test.go
Labels: go 🏃, Core changes 🪐, Telemetry 📺

#4524 Fix test report artifact name
  .github/workflows/csharp.yml
  .github/workflows/go.yml
  .github/workflows/java.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
Labels: CI/CD ⚒️

#4554 Go: Valkey 9 Commands
  .github/workflows/go.yml
  CHANGELOG.md
  glide-core/src/protobuf/command_request.proto
  glide-core/src/request_type.rs
  go/base_client.go
  go/constants/constants.go
  go/hash_commands_test.go
  go/integTest/batch_test.go
  go/integTest/shared_commands_test.go
  go/internal/command_helpers.go
  go/internal/interfaces/hash_commands.go
  go/options/hash_expiration_options.go
  go/pipeline/base_batch.go
Labels: go 🏃

#4556 JAVA: Valkey 9 new commands HASH items expiration
  CHANGELOG.md
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseBatch.java
  java/client/src/main/java/glide/api/models/commands/ExpirySet.java
  java/client/src/main/java/glide/api/models/commands/FieldConditionalChange.java
  java/client/src/main/java/glide/api/models/commands/HGetExExpiry.java
  java/client/src/main/java/glide/api/models/commands/HGetExOptions.java
  java/client/src/main/java/glide/api/models/commands/HSetExOptions.java
  java/client/src/main/java/glide/api/models/commands/HashFieldExpirationConditionOptions.java
  java/client/src/test/java/glide/api/models/BatchTests.java
  java/client/src/test/java/glide/api/models/commands/ExpireOptionsTest.java
  java/client/src/test/java/glide/api/models/commands/FieldConditionalChangeTest.java
  java/client/src/test/java/glide/api/models/commands/HGetExExpiryTest.java
  java/client/src/test/java/glide/api/models/commands/HGetExOptionsTest.java
  java/client/src/test/java/glide/api/models/commands/HSetExOptionsTest.java
  java/client/src/test/java/glide/api/models/commands/HashFieldExpirationCommandOptionsTest.java
  java/client/src/test/java/glide/api/models/commands/HashFieldExpirationConditionOptionsTest.java
  java/integTest/src/test/java/glide/BatchTestUtilities.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
Labels: java ☕

#4598 NODE: Valkey 9 support - Add Hash Field Expiration Commands Support
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Batch.ts
  node/src/Commands.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node 🐢

#4665 Java: Add UnifiedJedis.java commands and add JedisCluster.java
  java/client/src/main/java/redis/clients/jedis/ClusterConfigurationMapper.java
  java/client/src/main/java/redis/clients/jedis/ClusterConnectionProvider.java
  java/client/src/main/java/redis/clients/jedis/JedisCluster.java
  java/client/src/main/java/redis/clients/jedis/UnifiedJedis.java
  java/client/src/main/java/redis/clients/jedis/params/MigrateParams.java
  java/client/src/main/java/redis/clients/jedis/params/RestoreParams.java
  java/client/src/main/java/redis/clients/jedis/params/SortingParams.java
  java/integTest/src/test/java/compatibility/jedis/JedisClusterTest.java
  java/integTest/src/test/java/compatibility/jedis/UnifiedJedisClusterTest.java
  java/integTest/src/test/java/compatibility/jedis/UnifiedJedisTest.java
Labels: java ☕, Compatibility 🧭
